<section id="burger-blog" class="text-center bg-quaternary-color">
    <div class="layout-container-burger-blog">
        <header>
            <h1 class="uppercase font-mont font-black text-primary-color">burger blog</h1>
            <h2 class="capitalize font-mont font-regular text-tertiary-color">discover the best burger recipes</h2>
        </header>
        <ul class="grid">
            <li class="text-tertiary-color">
                <img src="../../assets/burger-placeholder.png" alt="">
                <p class="post-name capitalize font-mont font-bold">cheese burger / 26th may, 2000</p>
                <p class="post-small-disc font-mont font-bold">Lorem, ipsum dolor sit.</p>
                <p class="post-excerpt font-mont font-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia!</p>
                <div class="pt-[3rem] flex justify-center">
                    <button class="layout-btn text-primary-color bg-quaternary-color">
                        <span class="font-mont font-bold text-[1.4rem]">read more</span>
                    </button>
                </div>
            </li>
            <li class="text-tertiary-color">
                <img src="../../assets/burger-placeholder.png" alt="">
                <p class="post-name capitalize font-mont font-bold">cheese burger / 26th may, 2000</p>
                <p class="post-small-disc font-mont font-bold">Lorem, ipsum dolor sit.</p>
                <p class="post-excerpt font-mont font-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia!</p>
                <div class="pt-[3rem] flex justify-center">
                    <button class="layout-btn text-primary-color bg-quaternary-color">
                        <span class="font-mont font-bold">read more</span>
                    </button>
                </div>
            </li>
            <li class="text-tertiary-color">
                <img src="../../assets/burger-placeholder.png" alt="">
                <p class="post-name capitalize font-mont font-bold">cheese burger / 26th may, 2000</p>
                <p class="post-small-disc font-mont font-bold">Lorem, ipsum dolor sit.</p>
                <p class="post-excerpt font-mont font-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia!</p>
                <div class="pt-[3rem] flex justify-center">
                    <button class="layout-btn text-primary-color bg-quaternary-color">
                        <span class="font-mont font-bold text-[1.4rem]">read more</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>