<section id="combos" class="bg-primary-color">
    <header class="text-center">
        <h1 class="uppercase font-mont font-black text-secondary-color tracking-widest">combos</h1>
        <h2 class="capitalize font-mont font-regular text-quaternary-color">we have the perfect burger combination. <br /> choose your best option</h2>
    </header>
    <div class="layout-container-xlg relative">
        <div class="combo-swiper layout-container-combos-swiper overflow-x-hidden">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="slide-content bg-quaternary-color shadow-primary uppercase text-center">
                        <h1 class="font-mont font-bold">combo 1</h1>
                        <p class="combo-name font-mont font-regular">
                            classic burger
                        </p>
                        <ul class="font-mont font-regular">
                            <li>chocolate</li>
                            <li>milkshake</li>
                        </ul>
                        <p class="combo-desserts font-mont font-regular">
                            new york cheesecake
                        </p>
                        <p class="combo-price font-mont font-regular text-primary-color">
                            <span>$</span><span>160</span>
                        </p>
                        <div x-data data-id="1001" data-name="combo-1" data-price="160" class="flex justify-center pt-[3rem]">
                            <button @click="$store.cart.addCartCombo($root);" class="layout-btn border-[0.3rem] border-primary-color bg-quaternary-color text-primary-color">
                                <span x-text="$store.cart.collection.filter(item => item.product.id === $root.dataset.id).length > 0?'remove':'add to cart'" class="text-[2rem] px-[2rem] py-[1rem]"></span>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="slide-content bg-quaternary-color shadow-primary uppercase text-center">
                        <h1 class="font-mont font-bold">combo 2</h1>
                        <p class="combo-name font-mont font-regular">
                            classic burger
                        </p>
                        <ul class="font-mont font-regular">
                            <li>chocolate</li>
                            <li>milkshake</li>
                        </ul>
                        <p class="combo-desserts font-mont font-regular">
                            new york cheesecake
                        </p>
                        <p class="combo-price font-mont font-regular text-primary-color">
                            <span>$</span><span>170</span>
                        </p>
                        <div x-data data-id="1002" data-name="combo-2" data-price="170" class="flex justify-center pt-[3rem]">
                            <button @click="$store.cart.addCartCombo($root);" class="layout-btn border-[0.3rem] border-primary-color bg-quaternary-color text-primary-color">
                                <span x-text="$store.cart.collection.filter(item => item.product.id === $root.dataset.id).length > 0?'remove':'add to cart'" class="text-[2rem] px-[2rem] py-[1rem]"></span>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="slide-content bg-quaternary-color shadow-primary uppercase text-center">
                        <h1 class="font-mont font-bold">combo 3</h1>
                        <p class="combo-name font-mont font-regular">
                            classic burger
                        </p>
                        <ul class="font-mont font-regular">
                            <li>chocolate</li>
                            <li>milkshake</li>
                        </ul>
                        <p class="combo-desserts font-mont font-regular">
                            new york cheesecake
                        </p>
                        <p class="combo-price font-mont font-regular text-primary-color">
                            <span>$</span><span>00</span>
                        </p>
                        <div x-data data-id="1003" data-name="combo-3" data-price="180" class="flex justify-center pt-[3rem]">
                            <button @click="$store.cart.addCartCombo($root);" class="layout-btn border-[0.3rem] border-primary-color bg-quaternary-color text-primary-color">
                                <span x-text="$store.cart.collection.filter(item => item.product.id === $root.dataset.id).length > 0?'remove':'add to cart'" class="text-[2rem] px-[2rem] py-[1rem]"></span>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="slide-content bg-quaternary-color shadow-primary uppercase text-center">
                        <h1 class="font-mont font-bold">combo 4</h1>
                        <p class="combo-name font-mont font-regular">
                            classic burger
                        </p>
                        <ul class="font-mont font-regular">
                            <li>chocolate</li>
                            <li>milkshake</li>
                        </ul>
                        <p class="combo-desserts font-mont font-regular">
                            new york cheesecake
                        </p>
                        <p class="combo-price font-mont font-regular text-primary-color">
                            <span>$</span><span>00</span>
                        </p>
                        <div x-data data-id="1004" data-name="combo-4" data-price="190" class="flex justify-center pt-[3rem]">
                            <button @click="$store.cart.addCartCombo($root);" class="layout-btn border-[0.3rem] border-primary-color bg-quaternary-color text-primary-color">
                                <span x-text="$store.cart.collection.filter(item => item.product.id === $root.dataset.id).length > 0?'remove':'add to cart'" class="text-[2rem] px-[2rem] py-[1rem]"></span>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="slide-content bg-quaternary-color shadow-primary uppercase text-center">
                        <h1 class="font-mont font-bold">combo 5</h1>
                        <p class="combo-name font-mont font-regular">
                            classic burger
                        </p>
                        <ul class="font-mont font-regular">
                            <li>chocolate</li>
                            <li>milkshake</li>
                        </ul>
                        <p class="combo-desserts font-mont font-regular">
                            new york cheesecake
                        </p>
                        <p class="combo-price font-mont font-regular text-primary-color">
                            <span>$</span><span>200</span>
                        </p>
                        <div x-data data-id="1005" data-name="combo-5" data-price="200" class="flex justify-center pt-[3rem]">
                            <button @click="$store.cart.addCartCombo($root);" class="layout-btn border-[0.3rem] border-primary-color bg-quaternary-color text-primary-color">
                                <span x-text="$store.cart.collection.filter(item => item.product.id === $root.dataset.id).length > 0?'remove':'add to cart'" class="text-[2rem] px-[2rem] py-[1rem]"></span>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="slide-content bg-quaternary-color shadow-primary uppercase text-center">
                        <h1 class="font-mont font-bold">combo 6</h1>
                        <p class="combo-name font-mont font-regular">
                            classic burger
                        </p>
                        <ul class="font-mont font-regular">
                            <li>chocolate</li>
                            <li>milkshake</li>
                        </ul>
                        <p class="combo-desserts font-mont font-regular">
                            new york cheesecake
                        </p>
                        <p class="combo-price font-mont font-regular text-primary-color">
                            <span>$</span><span>210</span>
                        </p>
                        <div x-data data-id="1006" data-name="combo-6" data-price="210" class="flex justify-center pt-[3rem]">
                            <button @click="$store.cart.addCartCombo($root);" class="layout-btn border-[0.3rem] border-primary-color bg-quaternary-color text-primary-color">
                                <span x-text="$store.cart.collection.filter(item => item.product.id === $root.dataset.id).length > 0?'remove':'add to cart'" class="text-[2rem] px-[2rem] py-[1rem]"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>