<section id="food-menu" class="bg-quaternary-color">
    <div class="layout-container-lg">
        <h1 class="menu-title font-mont font-black text-secondary-color uppercase text-center">menu</h1>
        <h2 class="menu-disc font-mont font-regular text-tertiary-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui commodi officia, placeat nostrum quis similique vitae repellat, officiis eum cum recusandae hic praesentium eligendi!</h2>
        <div id="menu-blocks" class="text-tertiary-color">
            <div id="menu-block_row-1" class="grid">
                <article>
                    <header>
                        <h1 class="block-title">burgers & milkshakes</h1>
                    </header>
                    <ul class="products-list">
                        <li class="flex justify-between">
                            <span class="product-label">classic burger</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>10</span>
                                </div>
                                <label x-data data-id="1" data-price="10" data-name="classic-burger" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="classic-burger" id="classic-burger" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">cheese burger</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>20</span>
                                </div>
                                <label x-data data-id="2" data-price="20" data-name="cheese-burger" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="cheese-burger" id="cheese-burger" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">double cheese burger</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>30</span>
                                </div>
                                <label x-data data-id="3" data-price="30" data-name="double-cheese-burger" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="double-cheese-burger" id="double-cheese-burger" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">chocolate milkshake</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>40</span>
                                </div>
                                <label x-data data-id="4" data-price="40" data-name="chocolate-milkshake" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="chocolate-milkshake" id="chocolate-milkshake" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">strawberry milkshake</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>50</span>
                                </div>
                                <label x-data data-id="5" data-price="50" data-name="strawberry-milkshake" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="strawberry-milkshake" id="strawberry-milkshake" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">banana milkshake</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>60</span>
                                </div>
                                <label x-data data-id="6" data-price="60" data-name="banana-milkshake" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="banana-milkshake" id="banana-milkshake" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </article>
                <article>
                    <header class="block-title">
                        <h1>desserts</h1>
                    </header>
                    <ul class="products-list">
                        <li class="flex justify-between">
                            <span class="product-label">ice creams</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>70</span>
                                </div>
                                <label x-data data-id="7" data-price="70" data-name="ice-creams" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="ice-creams" id="ice-creams" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">triple chocolate cookie</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>80</span>
                                </div>
                                <label x-data data-id="8" data-price="80" data-name="triple-chocolate-cookie" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="triple-chocolate-cookie" id="triple-chocolate-cookie" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">new york cheesecake</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>90</span>
                                </div>
                                <label x-data data-id="9" data-price="90" data-name="new-york-cheesecake" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="new-york-cheesecake" id="new-york-cheesecake" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">sacher cake</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>100</span>
                                </div>
                                <label x-data data-id="10" data-price="100" data-name="sacher-cake" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="sacher-cake" id="sacher-cake" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">chocolate muffin</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>110</span>
                                </div>
                                <label x-data data-id="11" data-price="110" data-name="chocolate-muffin" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="chocolate-muffin" id="chocolate-muffin" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="flex justify-between">
                            <span class="product-label">berry muffin</span>
                            <div class="product-pick flex items-center">
                                <div class="product-price">
                                    <span>$</span>
                                    <span>120</span>
                                </div>
                                <label x-data data-id="12" data-price="120" data-name="berry-muffin" class="layout-checkable">
                                    <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="berry-muffin" id="berry-muffin" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
            <div id="menu-block_row-2">
                <article class="font-mont font-regular flex justify-center">
                    <header>
                        <h1 class="capitalize">... more drinks</h1>
                    </header>
                    <p class="text-primary-color">
                        (+ $ 0.00)
                    </p>
                </article>
            </div>
        </div>
    </div>
    <article class="layout-container-menu-drinks flex">
        <header>
            <h1 class="block-title">
                drinks
            </h1>
        </header>
        <ul class="w-full flex justify-between">
            <li class="flex justify-between">
                <span class="product-label">mineral water</span>
                <div class="product-pick flex items-center">
                    <div class="product-price">
                        <span>$</span>
                        <span>130</span>
                    </div>
                    <label x-data data-id="13" data-price="130" data-name="mineral-water" class="layout-checkable">
                        <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="mineral-water" id="mineral-water" />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
            <li class="flex justify-between">
                <span class="product-label">iced tea</span>
                <div class="product-pick flex items-center">
                    <div class="product-price">
                        <span>$</span>
                        <span>140</span>
                    </div>
                    <label x-data data-id="14" data-price="140" data-name="iced-tea" class="layout-checkable">
                        <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="iced-tea" id="iced-tea" />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
            <li class="flex justify-between">
                <span class="product-label">orange juice</span>
                <div class="product-pick flex items-center">
                    <div class="product-price">
                        <span>$</span>
                        <span>150</span>
                    </div>
                    <label x-data data-id="15" data-price="150" data-name="orange-juice" class="layout-checkable">
                        <input @change="$store.cart.addCartItem($el, $root)" type="checkbox" name="orange-juice" id="orange-juice" />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
        </ul>
    </article>
    <div class="flex justify-center py-[10rem]">
        <button x-data @click="$store.cart.openCart = true; document.body.style.overflow = 'hidden';" class="layout-btn bg-primary-color text-quaternary-color">
            <span class="text-[2rem] px-[6rem] py-[2rem]">open cart</span>
        </button>
    </div>
</section>