<footer id="contact" class="bg-secondary-color">
    <ul class="grid layout-container-footer">
        <li id="about-us">
            <header>
                <h1 class="footer-cell-header">about us</h1>
            </header>
            <p class="footer-cell-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas accusamus eaque quis laudantium aliquam labore consequatur ipsam suscipit velit reiciendis.</p>
        </li>
        <li id="vision">
            <header>
                <h1 class="footer-cell-header">vision</h1>
            </header>
            <ul class="footer-cell-content">
                <li>team</li>
                <li>join us</li>
                <li>ethic</li>
                <li>goals</li>
            </ul>
        </li>
        <li id="menu">
            <header>
                <h1 class="footer-cell-header">menu</h1>
            </header>
            <ul class="footer-cell-content">
                <li>combos</li>
                <li>reservation</li>
                <li>our chef</li>
                <li>contact</li>
            </ul>
        </li>
        <li id="we-are-here">
            <header>
                <h1 class="footer-cell-header">we are here</h1>
            </header>
            <ul class="footer-cell-content">
                <li>123 main street</li>
                <li>123456</li>
            </ul>
        </li>
        <li id="open-daily">
            <header>
                <h1 class="footer-cell-header">open daily</h1>
            </header>
            <ul class="footer-cell-content">
                <li>every day from</li>
                <li>11 am to 10 pm</li>
            </ul>
        </li>
        <li id="call-us">
            <header>
                <h1 class="footer-cell-header">call us</h1>
            </header>
            <ul class="footer-cell-content">
                <li>+12 345678910</li>
            </ul>
        </li>
        <li id="say-hello">
            <header>
                <h1 class="footer-cell-header">say hello</h1>
            </header>
            <ul class="footer-cell-content">
                <li>hello@yourwebsite.com</li>
                <li>www.yourwebsite.com</li>
            </ul>
        </li>
        <li id="form-cell">
            <form action="" class="flex justify-between items-center">
                <div class="layout-input form-input">
                    <input placeholder="Email" class="layout-input" type="text" name="email" id=email />
                </div>
                <div class="flex justify-center form-btn">
                    <button class="layout-btn bg-primary-color text-quaternary-color">
                        <span class="text-[1.5rem] px-[4rem] py-[1.3rem] tracking-wide">subscribe</span>
                    </button>
                </div>
            </form>
        </li>
        <li id="social-cell" class="flex items-center justify-between">
            <header>
                <h1 class="footer-cell-header">follow us</h1>
            </header>
            <ul class="flex">
                <li>
                    <img src="../../assets/twitter-icon.svg" alt="">
                </li>
                <li>
                    <img src="../../assets/facebook-icon.svg" alt="">
                </li>
                <li>
                    <img src="../../assets/instagram-icon.svg" alt="">
                </li>
            </ul>
        </li>
    </ul>
    <article class="end-footer">
        <header>
            <h1 class="uppercase bg-primary-color text-center text-quaternary-color font-mont font-regular ">@2000 all rights reserved</h1>
        </header>
    </article>
</footer>