<section id="how-to-order" class="bg-secondary-color">
    <header class="main">
        <h1 class="uppercase font-mont font-bold text-primary-color text-center">how do you order our burgers</h1>
    </header>
    <div class="layout-container-hto how-to-order_row-1">
        <article class="shadow-primary text-center bg-quaternary-color rounded-full">
            <header>
                <h1 class="uppercase font-mont font-bold text-primary-color ">choose</h1>
            </header>
            <p class="font-mont font-regular text-tertiary-color">
                choose what you prefer from our menu. if you don't want to think choose directly a combo
            </p>
        </article>
        <article class="shadow-primary text-center bg-quaternary-color rounded-full">
            <header>
                <h1 class="uppercase font-mont font-bold text-primary-color">order</h1>
            </header>
            <p class="font-mont font-regular text-tertiary-color">
                you can order food online or if you prefer you can go into our restaurant
            </p>
        </article>
        <article class="shadow-primary text-center bg-quaternary-color rounded-full">
            <header>
                <h1 class="uppercase font-mont font-bold text-[4.5rem] text-primary-color">delivery</h1>
            </header>
            <p class="font-mont font-regular text-tertiary-color">
                pick up your order in one of our restaurants or have it delivered in your home
            </p>
        </article>
    </div>
    <div class="flex justify-end layout-container-hto-plus how-to-order_row-2">
        <span class="font-mont font-black text-primary-color">+</span>
    </div>
    <div id="free-delivery" class="grid layout-container-hto-plus how-to-order_row-3">
        <div>
            <img src="../../assets/hero-burger-2.png" alt="">
        </div>
        <article>
            <header>
                <h1 class="uppercase font-mont font-black text-quaternary-color">
                    free delivery
                </h1>
            </header>
            <p class="font-mont font-regular text-quaternary-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt reprehenderit architecto impedit, nobis eos quis explicabo rerum facilis totam maiores.
            </p>
            <div class="pt-[5rem] flex justify-center">
                <button class="layout-btn w-full border-[0.3rem] border-primary-color text-quaternary-color bg-primary-color">
                    <span class="text-[2rem] py-[1rem]">get voucher</span>
                </button>
            </div>
        </article>
    </div>
</section>