<section x-data id="make-reservation" class="text-center bg-primary-color">
    <div class="layout-container-xlg">
        <header>
            <h1 class="tracking-wide uppercase font-mont font-black text-secondary-color">make a reservation</h1>
        </header>
        <form action="#">
            <ul>
                <li x-data="{openModal:false}">
                    <div @click="openModal = true" class="click-area layout-input with-icon">
                        <input :value="$store.rsSection['people number'].text" @click="openModal = true" class="uppercase placeholder:text-quaternary-color" type="text" name="people-count" id="people-count" placeholder="people">
                        <button type="button">
                            <img src="../../assets/list-arrow-btn.svg" alt="">
                        </button>
                    </div>
                    <div class="text-4xl text-tertiary-color mt-6" x-text="$store.rsSection.errors['people number']"></div>
                    <template x-teleport="body">
                        <div x-show="openModal" id="peopleModal" class="main-modal flex flex-col justify-center fixed top-0 left-0 z-9999 w-screen h-screen bg-dim-modal">
                            <div class="modal-body text-center text-secondary-color text-6xl capitalize font-mont font-bold">
                                <form class="grid justify-center content-center w-full h-full" action="#">
                                    <div class="form-input">
                                        <label class="layout-checkable size-lg primary-colored" for="one">
                                            <input x-data @change="$store.rsSection['people number'] = {text:'one person', value:$el.value}" type="radio" name="people" id="one" value="1x">
                                            <span class="checkmark"></span>
                                        </label>
                                        <span>one person</span>
                                    </div>
                                    <div class="form-input">
                                        <label class="layout-checkable size-lg primary-colored" for="two">
                                            <input x-data @change="$store.rsSection['people number'] = {text:'two people', value:$el.value}" type="radio" name="people" id="two" value="2x">
                                            <span class="checkmark"></span>
                                        </label>
                                        <span>two people</span>
                                    </div>
                                    <div class="form-input">
                                        <label class="layout-checkable size-lg primary-colored" for="more-than-three">
                                            <input x-data @change="$store.rsSection['people number'] = {text:'more than 3 people', value:$el.value}" type="radio" name="people" id="more-than-three" value="3x">
                                            <span class="checkmark"></span>
                                        </label>
                                        <span>more than 3</span>
                                    </div>
                                    <div class="form-input">
                                        <label class="layout-checkable size-lg primary-colored" for="more-than-five">
                                            <input x-data @change="$store.rsSection['people number'] = {text:'more than 5 people', value:$el.value}" type="radio" name="people" id="more-than-five" value="5x">
                                            <span class="checkmark"></span>
                                        </label>
                                        <span>more than 5</span>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer flex justify-around pt-5">
                                <button @click="openModal = false" class="border border-quaternary-color text-5xl text-secondary-color rounded-full px-32 py-4">ok</button>
                            </div>
                        </div>
                    </template>
                </li>
                <li x-data="{openModal:false}">
                    <div @click="openModal = true" class="click-area layout-input with-icon">
                        <input :value="$store.rsSection.date" class="uppercase placeholder:text-quaternary-color" type="text" name="date" id="date" placeholder="date">
                        <button type="button">
                            <img src="../../assets/calender-icon.svg" alt="">
                        </button>
                    </div>
                    <div class="text-4xl text-tertiary-color mt-6" x-text="$store.rsSection.errors.date"></div>
                    <template x-teleport="body">
                        <div x-show="openModal" id="dateModal" class="main-modal flex flex-col items-center justify-center fixed top-0 left-0 z-9999 w-screen h-screen bg-dim-modal">
                            <div class="modal-body date-picker"></div>
                            <div class="modal-footer flex justify-around pt-5">
                                <button @click="openModal = false" class="border border-quaternary-color text-5xl text-secondary-color rounded-full px-32 py-4">ok</button>
                            </div>
                        </div>
                    </template>
                </li>
                <li x-data="{openModal:false}">
                    <div @click="openModal = true" class="click-area layout-input with-icon">
                        <input :value="$store.rsSection.time" @click="openModal = true" class="uppercase placeholder:text-quaternary-color" type="text" name="time" id="time" placeholder="time">
                        <button type="button">
                            <img src="../../assets/clock-icon.svg" alt="">
                        </button>
                    </div>
                    <div class="text-4xl text-tertiary-color mt-6" x-text="$store.rsSection.errors.time"></div>
                    <template x-teleport="body">
                        <div x-show="openModal" id="timeModal" class="main-modal flex flex-col items-center justify-center fixed top-0 left-0 z-9999 w-screen h-screen bg-dim-modal">
                            <div class="modal-body time-picker"></div>
                            <div class="modal-footer flex justify-around pt-5">
                                <button @click="openModal = false" class="border border-quaternary-color text-5xl text-secondary-color rounded-full px-32 py-4">ok</button>
                            </div>
                        </div>
                    </template>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="layout-input">
                        <input x-model="$store.rsSection.name" class="uppercase placeholder:text-quaternary-color" type="text" name="name" id="name" placeholder="name">
                    </div>
                    <div class="text-4xl text-tertiary-color mt-6" x-text="$store.rsSection.errors.name"></div>
                </li>
                <li>
                    <div class="layout-input">
                        <input x-model="$store.rsSection.email" class="uppercase placeholder:text-quaternary-color" type="text" name="email" id="email" placeholder="email">
                    </div>
                    <div class="text-4xl text-tertiary-color mt-6" x-text="$store.rsSection.errors.email"></div>
                </li>
                <li>
                    <div class="layout-input">
                        <input x-model="$store.rsSection.phone" class="uppercase placeholder:text-quaternary-color" type="text" name="phone" id="phone" placeholder="phone">
                    </div>
                    <div class="text-4xl text-tertiary-color mt-6" x-text="$store.rsSection.errors.phone"></div>
                </li>
            </ul>
            <div class="pt-[10rem] flex justify-center">
                <button type="button" @click="$store.rsSection.submit()" class="layout-btn bg-quaternary-color text-primary-color">
                    <span class="text-[2.5rem] px-[8rem] py-[1rem] tracking-wide">submit</span>
                </button>
            </div>
        </form>
    </div>
</section>