<nav x-data="{collapse: false}" class="w-full z-9998 fixed">
    <div class="layout-container-xlg grid items-center">
        <div @click="collapse = !collapse" id="menu-icon" class="cursor-pointer">
            <img src="../../assets/menu-icon.svg" alt="menu">
        </div>
        <div id="logo">
            <img src="../../assets/logo.svg" alt="logo">
        </div>
        <div id="menu-list">
            <ul :class="collapse?'items':''">
                <li>
                    <a class="nav-links inline-block" data-target-id="food-menu" href="#">menu</a>
                </li>
                <li>
                    <a class="nav-links inline-block" data-target-id="combos" href="#">combos</a>
                </li>
                <li>
                    <a class="nav-links inline-block" data-target-id="make-reservation" href="#">reservation</a>
                </li>
                <li>
                    <a class="nav-links inline-block" data-target-id="about-us-footer" href="#">about us</a>
                </li>
                <li>
                    <a class="nav-links inline-block" data-target-id="burger-blog" href="#">blog</a>
                </li>
            </ul>
        </div>
        <div id="cart" class="cursor-pointer" @click="$store.cart.openCart = true; document.body.style.overflow = 'hidden';">
            <img src="../../assets/vector-cart.svg" alt="cart">
        </div>
    </div>
    <template x-teleport="body">
        <div x-show="$store.cart.openCart" id="cartModal" class="main-modal flex flex-col justify-center fixed top-0 left-0 z-9999 w-screen h-screen bg-tertiary-color">
            <div class="modal-body relative h-screen overflow-y-auto text-center text-secondary-color text-5xl capitalize font-mont font-bold">
                <div class="closing flex justify-end">
                    <button type="button" @click="$store.cart.openCart = false; document.body.style.overflow = 'unset';" class="py-4 px-6 border border-primary-color rounded-full">close</button>
                </div>    
                <ul id="picked-items" class="grid">
                    <template x-for="item in $store.cart.collection" :key="item.product.id">
                        <li class="mt-8">
                            <div class="ctrls flex items-center justify-center">
                                <button @click="$store.cart.changeItemQuantity(item.product.id, 1)" class="p-8 text-6xl border border-primary-color rounded-full relative">
                                    <span class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]">+</span>
                                </button>
                                <button @click="$store.cart.changeItemQuantity(item.product.id, -1)" class="p-8 text-6xl border border-primary-color rounded-full relative">
                                    <span class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]">-</span>
                                </button>
                            </div>
                            <span class="inline-block mt-4" x-text="item.product.name"></span>
                            <div class="font-light text-6xl mt-2">
                                <span x-text="item.product.price"></span>
                                <span>X</span>
                                <span x-text="item.quantity"></span>
                                <span x-text="'($'+parseInt(item.product.price) * parseInt(item.quantity)+')'"></span>
                            </div>
                        </li>
                    </template>
                </ul>
                <div id="cart-totalcharge" class="w-full mt-8 px-8 py-8 fixed bottom-0">
                    <div class="border-t-2 pt-8 border-primary-color">
                        <span class="text-6xl" x-text="'$ '+$store.cart.totalCharge"></span>
                    </div>
                    <button x-show="$store.cart.totalCharge > 0" type="button" @click="$store.cart.openCart = false; document.body.style.overflow = 'unset';" class="mt-8 py-4 px-6 border border-primary-color rounded-full">submit order</button>
                </div>
            </div>
        </div>
    </template>
</nav>