---
---
<section id="check-out">
    <h2>ready? check these out.</h2>
    <h1>our new classes this month</h1>
    <h3>make your investment journey easier by learning the basics with hanvesting.</h3>
    <ul>
        <li>
            <div class="card-img">
                <img src="/images/inv/thumbnail-1.png" alt="">
            </div>
            <div class="card-desc">
                <h1>
                    investing 101: the basics
                </h1>
                <h2>
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <a href="#">enroll now</a>
            </div>
        </li>
        <li>
            <div class="card-img">
                <img src="/images/inv/thumbnail-2.png" alt="">
            </div>
            <div class="card-desc">
                <h1>
                    investing 101: intermediate
                </h1>
                <h2>
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <a href="#">enroll now</a>
            </div>
        </li>
        <li>
            <div class="card-img">
                <img src="/images/inv/thumbnail-3.png" alt="">
            </div>
            <div class="card-desc">
                <h1>
                    investing 101: advanced
                </h1>
                <h2>
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <a href="#">enroll now</a>
            </div>
        </li>
        <li>
            <div class="card-img">
                <img src="/images/inv/thumbnail-4.png" alt="">
            </div>
            <div class="card-desc">
                <h1>
                    economy: data analysis
                </h1>
                <h2>
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <a href="#">enroll now</a>
            </div>
        </li>
        <li>
            <div class="card-img">
                <img src="/images/inv/thumbnail-5.png" alt="">
            </div>
            <div class="card-desc">
                <h1>
                    analyzing and predicting
                </h1>
                <h2>
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <a href="#">enroll now</a>
            </div>
        </li>
        <li>
            <div class="card-img">
                <img src="/images/inv/thumbnail-6.png" alt="">
            </div>
            <div class="card-desc">
                <h1>
                    finance: getting started
                </h1>
                <h2>
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <a href="#">enroll now</a>
            </div>
        </li>
    </ul>
</section>