---
import Btn from "../../components/inv/btn.astro";
---
<section id="check-out" class="py-48 px-8">
    <header class="capitalize font-bold text-center">
        <h2 class="text-inv-primary-color">ready? check these out.</h2>
        <h1 class="my-12">our new classes this month</h1>
        <h3 class="font-regular">make your investment journey easier by learning the basics with hanvesting.</h3>
    </header>
    <ul id="classes-list-cards" class="mt-48">
        <li class="card bg-inv-primary-color rounded-3xl overflow-hidden">
            <div class="card-img">
                <div class="card-img_object h-full" style="background-image: url(/images/inv/thumbnail-1.png);"></div>
            </div>
            <div class="card-desc flex flex-col justify-center px-4 py-8">
                <h1 class="text-white font-bold capitalize">
                    investing 101:
                </h1>
                <h1 class="text-white font-bold capitalize">
                    the basics
                </h1>
                <h2 class="text-white">
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <div class="card-desc_ctrl">
                    <Btn styles="text-inv-primary-color bg-white mt-12 enroll-now" text="enroll now" />
                </div>
            </div>
        </li>
        <li class="card bg-inv-primary-color rounded-3xl overflow-hidden">
            <div class="card-img">
                <div class="card-img_object h-full" style="background-image: url(/images/inv/thumbnail-2.png);"></div>
            </div>
            <div class="card-desc flex flex-col justify-center px-4 py-8">
                <h1 class="text-white font-bold capitalize">
                    investing 101:
                </h1>
                <h1 class="text-white font-bold capitalize">
                    intermediate
                </h1>
                <h2 class="text-white">
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <div class="card-desc_ctrl">
                    <Btn styles="text-inv-primary-color bg-white mt-12 enroll-now" text="enroll now" />
                </div>
            </div>
        </li>
        <li class="card bg-inv-primary-color rounded-3xl overflow-hidden">
            <div class="card-img">
                <div class="card-img_object h-full" style="background-image: url(/images/inv/thumbnail-3.png);"></div>
            </div>
            <div class="card-desc flex flex-col justify-center px-4 py-8">
                <h1 class="text-white font-bold capitalize">
                    investing 101:
                </h1>
                <h1 class="text-white font-bold capitalize">
                    advanced
                </h1>
                <h2 class="text-white">
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <div class="card-desc_ctrl">
                    <Btn styles="text-inv-primary-color bg-white mt-12 enroll-now" text="enroll now" />
                </div>
            </div>
        </li>
        <li class="card bg-inv-primary-color rounded-3xl overflow-hidden">
            <div class="card-img">
                <div class="card-img_object h-full" style="background-image: url(/images/inv/thumbnail-4.png);"></div>
            </div>
            <div class="card-desc flex flex-col justify-center px-4 py-8">
                <h1 class="text-white font-bold capitalize">
                    economy:
                </h1>
                <h1 class="text-white font-bold capitalize">
                    data analysis
                </h1>
                <h2 class="text-white">
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <div class="card-desc_ctrl">
                    <Btn styles="text-inv-primary-color bg-white mt-12 enroll-now" text="enroll now" />
                </div>
            </div>
        </li>
        <li class="card bg-inv-primary-color rounded-3xl overflow-hidden">
            <div class="card-img">
                <div class="card-img_object h-full" style="background-image: url(/images/inv/thumbnail-5.png);"></div>
            </div>
            <div class="card-desc flex flex-col justify-center px-4 py-8">
                <h1 class="text-white font-bold capitalize">
                    analyzing and predicting:
                </h1>
                <h2 class="text-white">
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <div class="card-desc_ctrl">
                    <Btn styles="text-inv-primary-color bg-white mt-12 enroll-now" text="enroll now" />
                </div>
            </div>
        </li>
        <li class="card bg-inv-primary-color rounded-3xl overflow-hidden">
            <div class="card-img">
                <div class="card-img_object h-full" style="background-image: url(/images/inv/thumbnail-6.png);"></div>
            </div>
            <div class="card-desc flex flex-col justify-center px-4 py-8">
                <h1 class="text-white font-bold capitalize">
                    finance:
                </h1>
                <h1 class="text-white font-bold capitalize">
                    getting started
                </h1>
                <h2 class="text-white">
                    make your investment journey easier by learning the basics with hanvesting.
                </h2>
                <div class="card-desc_ctrl">
                    <Btn styles="text-inv-primary-color bg-white mt-12 enroll-now" text="enroll now" />
                </div>
            </div>
        </li>
    </ul>
</section>
<style lang="scss" is:global>
    #check-out {

        header {

            h2 {
                font-size: 3rem;
            }

            h1 {
                font-size: 6.5rem;
                line-height: 6.5rem;
            }

            h3 {
                font-size: 1.5rem;
            }
        }

        #classes-list-cards {
            display: grid;
            grid-template-columns: minmax(30rem, 50rem);
            gap: 5rem 0;
            justify-content: center;

            .card {
                display: grid;
                grid-template-columns: 10rem 1fr;

                .card-img {
                    padding: 2rem 2rem 0 0;
                    background: url(/images/inv/wave-side.png) right top no-repeat;
                    background-size: cover;
                    @include withRtl('transform', scale(1), scale(-1, 1));

                    .card-img_object {
                        background-position: right top;
                        background-repeat: no-repeat;;
                    }
                }

                .card-desc {

                    h1 {
                        font-size: 6.3vw;
                    }

                    h2 {
                        font-size: 1.5rem;
                    }

                    .enroll-now {
                        font-size: 6vw;
                    }
                }
            }
        }

        @media screen and (min-width: 425px) {

            #classes-list-cards {

                .card {
                    grid-template-columns: 15rem 1fr;
                    
                    .card-desc {
    
                        h1 {
                            font-size: 3rem;
                        }
    
                        .enroll-now {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {
            
            #classes-list-cards {
                grid-template-columns: repeat(2, 45rem);
                gap: 5rem 3rem;
            }
        }

        @media screen and (min-width: 1200px) {
            
            #classes-list-cards {
                grid-template-columns: repeat(2, 55rem);
                gap: 5rem 5rem;
            }
        }
    }
</style>