---
---
<section id="decisions">
    <img src="/images/inv/smarter.png" alt="">
    <article>
        <div>
            <h1>01</h1>
            <p>Start by deciding what milestones and your goals in completing this course so we can help you jumpstart and personalize it</p>
        </div>
        <img src="/images/inv/phone.png" alt="">
        <div>
            <h1>02</h1>
            <p>Start by deciding what milestones and your goals in completing this course so we can help you jumpstart and personalize it</p>
        </div>
    </article>
    <article>
        <h1>what they say about us</h1>
        <img src="/images/inv/person.png" alt="">
        <h2>mark say of reidigital corp</h2>
        <p>hanvesting helped me achieve more and understand the concept of investing. No more trial and errors, or relying on inconsistent strategies. Their course is beginner friendly and personalized to bring the full experience of helping you attain what you paid for. Hanvesting helped me achieve more and understand the concept of investing. No more trial and errors, or relying on inconsistent strategies. Their course is beginner friendly and personalized to bring the full experience of helping you attain what you paid for.</p>
    </article>
</section>