---
---
<section id="topics" class="bg-black text-white pb-24">
    <div id="topics-box" class="max-w-screen-xlg mx-auto px-4">
        <h1 class="capitalize text-center font-bold">What Topics Interest You?</h1>
        <h2 class="text-center mt-8">make your investment journey easier by learning the basics with hanvesting.</h2>
        <ul id="topics-list" class="mt-24">
            <li>
                <div class="blue-box"></div>
                <h1 class="text-inv-primary-color capitalize font-bold">investing</h1>
                <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
            </li>
            <li>
                <div class="blue-box"></div>
                <h1 class="text-inv-primary-color capitalize font-bold">data analysis</h1>
                <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
            </li>
            <li>
                <div class="blue-box"></div>
                <h1 class="text-inv-primary-color capitalize font-bold">finance</h1>
                <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
            </li>
            <li>
                <div class="blue-box"></div>
                <h1 class="text-inv-primary-color capitalize font-bold">trading</h1>
                <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
            </li>
            <li>
                <div class="blue-box"></div>
                <h1 class="text-inv-primary-color capitalize font-bold">economy</h1>
                <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
            </li>
            <li>
                <div class="blue-box"></div>
                <h1 class="text-inv-primary-color capitalize font-bold">scaling</h1>
                <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
            </li>
        </ul>
    </div>
</section>
<style lang="scss" is:global>
    #topics {

        h1 {
            font-size: 6.5rem;
            line-height: 6.5rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        ul {

            li {

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }

        #topics-box {
    
            #topics-list {
                display: grid;
                grid-template-columns: 1fr;
                gap: 5rem;
                justify-content: center;
                text-align: center;
            }
        }

        @media screen and (min-width: 425px) {
            
            #topics-box {
    
                #topics-list {

                    grid-template-columns: repeat(auto-fit, minmax(0, 30rem));
                    text-align: unset;
                }
            }
        }
    }
</style>