---
---
<section id="topics">
    <h1>What Topics Interest You?</h1>
    <h2>make your investment journey easier by learning the basics with hanvesting.</h2>
    <ul>
        <li>
            <div class="blue-box"></div>
            <h1>investing</h1>
            <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
        </li>
        <li>
            <div class="blue-box"></div>
            <h1>data analysis</h1>
            <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
        </li>
        <li>
            <div class="blue-box"></div>
            <h1>finance</h1>
            <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
        </li>
        <li>
            <div class="blue-box"></div>
            <h1>trading</h1>
            <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
        </li>
        <li>
            <div class="blue-box"></div>
            <h1>economy</h1>
            <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
        </li>
        <li>
            <div class="blue-box"></div>
            <h1>scaling</h1>
            <p>hanvesting will guide you every step of the way so you can master the courses and make it work for your milestones</p>
        </li>
    </ul>
</section>