#food-menu {
    @apply px-[1rem];
    #menu-blocks {
        #menu-block_row-1 {
            grid-template-columns: 1fr 1fr;
            gap: 8rem;
        }
        #menu-block_row-2 {
            h1 {
                word-spacing: 0.8rem;
            }
        }
    }
    .block-title {
        @apply font-mont font-bold text-[2.5rem] uppercase tracking-wider leading-[3rem];
    }
    .product-label {
        @apply font-mont font-regular text-[2.5rem] capitalize tracking-wider leading-[3rem];
    }
    .products-list {
        @apply pt-[3rem];
    }
    .product-price {
        @include withRtl('margin', 0 1.5rem 0 0, 0 0 0 1.5rem);
        @apply font-mont font-regular text-[2.5rem] text-primary-color;
    }
    .layout-container-menu-drinks {
        header {
            @include withRtl('margin', 0 7rem 0 0, 0 0 0 7rem);
        }
        ul {
            li {
                & > span {
                    @include withRtl('margin', 0 5rem 0 0, 0 0 0 5rem);
                }
            }
        }
    }
    @media screen and (max-width: 1200px){
        #menu-block_row-2 {
            @apply max-w-[76.8rem] mx-auto text-center;
            article {
                flex-direction: column;
                h1 {
                    @apply flex flex-col;
                }
                p {
                    padding-top: 2rem;
                }
            }
        }
        .layout-container-menu-drinks {
            @apply max-w-[32rem] mx-auto;
            flex-direction: column;
            header {
                margin: 0;
                h1 {
                    text-align: center;
                }
            }
            ul {
                padding-top: 2rem;
                flex-direction: column;
                li {
                    padding-top: 1rem;
                    span {
                        margin: 0;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        #menu-blocks {
            #menu-block_row-1 {
                @apply max-w-[51.2rem] mx-auto;
                grid-template-columns: 1fr;
                gap: 0rem;
                article:nth-child(2) {
                    padding-top: 3rem;
                }
            }
        } 
    }
}