#hero-burger {
    padding-top: 2.5rem;
    background: linear-gradient(180deg, $primary-color 0%, $primary-color 50%, $quaternary-color 50%, $quaternary-color 100%);
    img {
        height: 100%;
        width: 100%;
        max-width: 58.2rem;
    }
}