#how-to-order {
    .how-to-order_row-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        article {
            max-width: 32rem;
            @include withRtl(margin, 0 2rem 0 0, 0 0 0 2rem)
        }
    }
    .how-to-order_row-3 {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 7rem;
    }
    @media screen and (max-width: 1024px){
        .how-to-order_row-3 {
            grid-template-columns: 1fr;
            gap: 0rem;
            article {
                h1 {
                    text-align: center;
                }
            }
        }
    }
    @media screen and (max-width: 710px) {
        .how-to-order_row-1 {
            article {
                margin-top: 2rem;
            }
        }
    }
    @media screen and (max-width: 425px) {
        #free-delivery {
            header {
                h1 {
                    font-size: calc(1rem + 15vw);
                }
            }
        }
    }
}