---
---
<section x-data="{show:false}" x-intersect.once="show = true" id="burger-blog" class="text-center bg-wlk-quaternary-color">
    <div class="layout-container-burger-blog">
        <header>
            <h1 class="uppercase font-mont font-black text-wlk-primary-color">burger blog</h1>
            <h2 class="capitalize font-mont font-regular text-wlk-tertiary-color">discover the best burger recipes</h2>
        </header>
        <ul class="grid">
            <li class="text-wlk-tertiary-color">
                <template x-if="show" x-transition>
                    <img src="/images/burger-placeholder.png" alt="">
                </template>
                <p class="post-name capitalize font-mont font-bold">cheese burger / 26th may, 2000</p>
                <p class="post-small-disc font-mont font-bold">Lorem, ipsum dolor sit.</p>
                <p class="post-excerpt font-mont font-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia!</p>
                <div class="pt-[3rem] flex justify-center">
                    <button class="layout-btn text-wlk-primary-color bg-wlk-quaternary-color">
                        <span class="font-mont font-bold text-[1.4rem]">read more</span>
                    </button>
                </div>
            </li>
            <li class="text-wlk-tertiary-color">
                <template x-if="show" x-transition>
                    <img src="/images/burger-placeholder.png" alt="">
                </template>
                <p class="post-name capitalize font-mont font-bold">cheese burger / 26th may, 2000</p>
                <p class="post-small-disc font-mont font-bold">Lorem, ipsum dolor sit.</p>
                <p class="post-excerpt font-mont font-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia!</p>
                <div class="pt-[3rem] flex justify-center">
                    <button class="layout-btn text-wlk-primary-color bg-wlk-quaternary-color">
                        <span class="font-mont font-bold">read more</span>
                    </button>
                </div>
            </li>
            <li class="text-wlk-tertiary-color">
                <template x-if="show" x-transition>
                    <img src="/images/burger-placeholder.png" alt="">
                </template>
                <p class="post-name capitalize font-mont font-bold">cheese burger / 26th may, 2000</p>
                <p class="post-small-disc font-mont font-bold">Lorem, ipsum dolor sit.</p>
                <p class="post-excerpt font-mont font-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia!</p>
                <div class="pt-[3rem] flex justify-center">
                    <button class="layout-btn text-wlk-primary-color bg-wlk-quaternary-color">
                        <span class="font-mont font-bold text-[1.4rem]">read more</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>
<style lang="scss">
    #burger-blog {
        padding-bottom: 6rem;
        & > div {
            header {
                h1 {
                    padding-top: 4rem;
                    font-size: 6.6rem;
                }
                h2 {
                    font-size: 3.7rem;
                }
            }
        }
        ul {
            padding-top: 2rem;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2rem;
            li {
                padding: 0 0.5rem;
                .post-name {
                    font-size: 1.4rem;
                }
                .post-small-disc {
                    font-size: 1.6rem;
                }
                .post-excerpt {
                    font-size: 1.6rem;
                }
            }
            @media screen and (max-width:1200px){
                column-gap: 0.5rem;
            }
            @media screen and (max-width:1024px){
                grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
                justify-items: center;
                row-gap: 3rem;
                li {
                    max-width: 32rem;
                }
            }
        }
    }
</style>