---
---
<section id="hero-burger" class="flex justify-center">
    <img src="/images/hero-burger.png" alt="">
</section>
<style lang="scss">
    #hero-burger {
        padding-top: 2.5rem;
        background: linear-gradient(180deg, $wlk-primary-color 0%, $wlk-primary-color 50%, $wlk-quaternary-color 50%, $wlk-quaternary-color 100%);
        img {
            height: 100%;
            width: 100%;
            max-width: 58.2rem;
        }
    }
</style>