---

import Main from "../layout/Main.astro";
import Footer from "../components/footer.astro";

const title = 'careers';
const lang = 'en';
const dir = 'ltr';

---
<Main title={title} lang={lang} dir={dir}>

    <section class="h-screen flex justify-center items-center">
        <h2 class="text-[3.2rem] capitalize">{title} page</h2>
    </section>
    <section class="-mx-[2rem] md:-mx-[3.2rem]">
        <Footer>

            <span slot="copyright">Copyright © 2023 Railway Corp. All rights reserved.</span>

            <!-- list1 -->
            <p slot="list1Header" class="text-[1.2rem] font-bold uppercase ">Product</p>
            <ul slot="list1Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Changelog</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Pricing</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Templates</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Feedback</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">OSS Kickback</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Migrate from Heroku</a>
                </li>
            </ul>
            <!-- list1 -->

            <!-- list2 -->
            <p slot="list2Header" class="text-[1.2rem] font-bold uppercase ">company</p>
            <ul slot="list2Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">About</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Careers</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Blog</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Shop</a>
                </li>
            </ul>
            <!-- list2 -->

            <!-- list3 -->
            <p slot="list3Header" class="text-[1.2rem] font-bold uppercase ">contact</p>
            <ul slot="list3Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Discord</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Twitter</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">GitHub</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Email</a>
                </li>
            </ul>
            <!-- list3 -->

            <!-- list4 -->
            <p slot="list4Header" class="text-[1.2rem] font-bold uppercase ">legal</p>
            <ul slot="list4Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Fair Use</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Privacy Policy</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Terms of Service</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Bug Bounty Program</a>
                </li>
            </ul>
            <!-- list4 -->

        </Footer>
    </section>

</Main>