---

import Main from "../layout/Main.astro";
import HeroSection from "../components/hero-section.astro";
import SectionStartTinker from "../components/section-start-tinker.astro";

const title = 'home';
const lang = 'en';

---
<Main title={title} lang={lang}>

    <HeroSection />
    <SectionStartTinker />

</Main>