---

import Main from "../layout/Main.astro";
import SectionHero from "../components/section-hero.astro";
import SectionStartTinker from "../components/section-start-tinker.astro";
import SectionIterateAccelerate from "../components/section-iterate-accelerate.astro";
import SectionLaunchScale from "../components/section-Launch-scale.astro";
import SectionBrands from "../components/section-brands.astro";
import SectionFirstClass from "../components/section-first-class.astro";
import SectionLovedBy from "../components/section-loved-by.astro";
import SectionDeployApp from "../components/section-deploy-app.astro";
import Footer from "../layout/Footer.astro";

const title = 'home';
const lang = 'en';
const dir = 'ltr';

---
<Main title={title} lang={lang} dir={dir}>

    <SectionHero>
        <h1 slot="header" class="font-bold text-[clamp(3.2rem,calc(3.2rem+((1vw-5.7px)*6.4)),64px)] mb-[2.4rem]">
            Bring your code,
            <br />
            we'll handle the rest.
        </h1>
        <p slot="subHeader" class="max-w-[57.6rem] text-sm text-secondary mb-[4.8rem]">
            Made for any language, for projects big and small. Railway is the cloud that takes the complexity out of shipping software.
        </p>
        <span slot="btn">Start a New Project</span>
    </SectionHero>

    <SectionStartTinker>
        <p slot="topHeader" class="text-ternary text-[2.4rem] text-center font-bold capitalize mb-[0.8rem]">now boarding, local.</p>
        <h2 slot="header" class="title-1 text-center font-bold capitalize">start and tinker</h2>
        <p slot="subHeader" class="text-[1.8rem] text-center max-w-[89.6rem] mx-auto">Begin with your repository, or start with a template. Our tooling extends your app with plugins and variable management so environments are the same live as local.</p>
    </SectionStartTinker>

    <SectionIterateAccelerate>
        <p slot="topHeader" class="text-green-1 text-[2.4rem] text-center font-bold capitalize mb-[0.8rem]">Up and Running</p>
        <h2 slot="header" class="title-1 text-center font-bold capitalize">Iterate and Accelerate</h2>
        <p slot="subHeader" class="text-[1.8rem] text-center max-w-[89.6rem] mx-auto">From the first deploy, anything is possible. Railway helps you ship quickly by removing common developer hurdles</p>
    </SectionIterateAccelerate>

    <SectionLaunchScale>
        <p slot="topHeader" class="text-ternary text-[2.4rem] text-center font-bold capitalize mb-[0.8rem]">Next Stop, Production.</p>
        <h2 slot="header" class="title-1 text-center font-bold capitalize">Launch and Scale</h2>
        <p slot="subHeader" class="text-[1.8rem] text-center max-w-[89.6rem] mx-auto">As you push the limits of what is possible, Railway keeps your applications on track. Keep your sites seen without costing a fortune.</p>
    </SectionLaunchScale>

    <SectionBrands>
        <p slot="head" class="text-[2.4rem] font-bold text-left">
            Ideal for any kind of product.&nbsp;&nbsp;
            <br />
            Such as...
        </p>
        <p slot="tail" class="text-[2.4rem] font-bold text-left">
            and many more...
        </p>
    </SectionBrands>

    <SectionFirstClass>

        <!-- section slots -->
        <p slot="header" class="first-class-title-1 text-[4.8rem] font-bold capitalize">first-class features</p>
        <p slot="supHeader" class="text-[2rem] mt-[1.6rem]">A dashboard that provides unparalleled hospitality.</p>
        <!-- section slots -->

        <!-- card1 slots -->
        <p slot="card1Header" class="first-class-title-2 text-[2.8rem] font-bold mb-[2rem]">Keyboard Friendly</p>
        <p slot="card1SubHeader" class="text-[2rem] text-[#a1a0ab] mb-[2.8rem]">Command the interface at your fingertips. Go to any page, create an object, secret, and much more.</p>
        <span slot="card1Btn">Show Palette</span>
        <!-- card1 slots -->

        <!-- card2 slots -->
        <p slot="card2Header" class="first-class-title-3 font-bold mb-[2rem]">Secrets Management</p>
        <p slot="card2SubHeader" class="text-[1.8rem] text-[#878593] mb-[2.4rem]">Maintain and sync different variables from development, staging, to prod.</p>
        <a slot="card2Btn" href="#" class="text-[1.6rem] text-[#a667e4]">View Docs -></a>
        <!-- card2 slots -->

        <!-- card3 slots -->
        <p slot="card3Header" class="first-class-title-3 font-bold mb-[2rem]">Usage-based Pricing</p>
        <p slot="card3SubHeader" class="text-[1.8rem] text-[#878593] mb-[2.4rem]">Extend your runway. Railway bills only for compute performed on the platform.</p>
        <a slot="card3Btn" href="#" class="text-[1.6rem] text-[#a667e4]">View our Plans -></a>
        <!-- card3 slots -->

        <!-- card4 slots -->
        <p slot="card4Header" class="first-class-title-4 font-bold mb-[2rem]">Start or Extend your Infrastructure with One Click.</p>
        <p slot="card4SubHeader" class="text-[2rem] text-[#a1a0ab] mb-[2.8rem]">Command the interface at your fingertips. Go to any page, create an object, secret, and much more.</p>
        <a slot="card4Btn">View our 75+ Templates</a>
        <!-- card4 slots -->
    </SectionFirstClass>

    <section class="-mx-[2rem] md:-mx-[3.2rem]" style="background-image:linear-gradient(38.73deg, rgba(204, 0, 187, 0.25) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.25) 100%);">
        <SectionLovedBy>
            <h2 slot="header" class="title-1 font-bold mb-[2.4rem]">Loved by Developers</h2>
            <p slot="subHeader" class="text-[1.8rem] text-[#878593] mb-[6.4rem]">
                Join 2,500+ Devs Building with Railway on
                <a href="#" class="underline">Discord -></a>
            </p>
        </SectionLovedBy>
        <SectionDeployApp>
            <h2 slot="header" class="title-1 text-[3.55rem] font-bold mb-[2.4rem] max-w-[44.8rem]">Deploy an App to Production in Minutes</h2>
            <p slot="subHeader" class="text-[2rem] text-[#878593] mb-[3.2rem] max-w-[51.2rem]">Join thousands of people deploying hundreds of thousands of applications effortlessly on Railway</p>
            <spane slot="btn">Click this Button</spane>
        </SectionDeployApp>
        <Footer>

            <span slot="copyright">Copyright © 2023 Railway Corp. All rights reserved.</span>

            <!-- list1 -->
            <p slot="list1Header" class="text-[1.2rem] font-bold uppercase ">Product</p>
            <ul slot="list1Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Changelog</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Pricing</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Templates</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Feedback</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">OSS Kickback</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Migrate from Heroku</a>
                </li>
            </ul>
            <!-- list1 -->

            <!-- list2 -->
            <p slot="list2Header" class="text-[1.2rem] font-bold uppercase ">company</p>
            <ul slot="list2Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">About</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Careers</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Blog</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Shop</a>
                </li>
            </ul>
            <!-- list2 -->

            <!-- list3 -->
            <p slot="list3Header" class="text-[1.2rem] font-bold uppercase ">contact</p>
            <ul slot="list3Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Discord</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Twitter</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">GitHub</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Email</a>
                </li>
            </ul>
            <!-- list3 -->

            <!-- list4 -->
            <p slot="list4Header" class="text-[1.2rem] font-bold uppercase ">legal</p>
            <ul slot="list4Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Fair Use</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Privacy Policy</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Terms of Service</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Bug Bounty Program</a>
                </li>
            </ul>
            <!-- list4 -->

        </Footer>
    </section>

</Main>