---

import Main from "../layout/Main.astro";
import HeroSection from "../components/hero-section.astro";
import SectionStartTinker from "../components/section-start-tinker.astro";
import SectionIterateAccelerate from "../components/section-iterate-accelerate.astro";
import SectionLaunchScale from "../components/section-Launch-scale.astro";
import SectionBrands from "../components/section-brands.astro";
import SectionFirstClass from "../components/section-first-class.astro";
import SectionLovedBy from "../components/section-loved-by.astro";

const title = 'home';
const lang = 'en';

---
<Main title={title} lang={lang}>

    <HeroSection />
    <SectionStartTinker />
    <SectionIterateAccelerate />
    <SectionLaunchScale />
    <SectionBrands />
    <SectionFirstClass />
    <SectionLovedBy />

</Main>