<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>we-love-krisps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body class="relative overflow-x-hidden">
    <!-- <div id="guide"></div> -->
    
    <!-- main page nav -->
    <%= require('../partials/index/nav.html').default %>
    <!-- main page nav -->

    <!-- top section -->
    <%= require('../partials/index/top.html').default %>
    <!-- top section -->

    <!-- hero burger -->
    <%= require('../partials/index/hero-burger.html').default %>
    <!-- hero burger -->

    <!-- food menu -->
    <%= require('../partials/index/food-menu.html').default %>
    <!-- food menu -->

    <!-- combos -->
    <%= require('../partials/index/combos.html').default %>
    <!-- combos -->

    <!-- how to order -->
    <%= require('../partials/index/how-to-order.html').default %>
    <!-- how to order -->

    <!-- make a reservation -->
    <%= require('../partials/index/make-a-reservation.html').default %>
    <!-- make a reservation -->

    <!-- about us -->
    <%= require('../partials/index/about-us-footer.html').default %>
    <!-- about us -->

    <!-- the creators -->
    <%= require('../partials/index/the-creators.html').default %>
    <!-- the creators -->

    <!-- burger-blog -->
    <%= require('../partials/index/burger-blog.html').default %>
    <!-- burger-blog -->

    <!-- footer -->
    <%= require('../partials/index/footer.html').default %>
    <!-- footer -->
</body>
</html>