---

import Main from "../layout/Main.astro";
import HeroSection from "../components/hero-section.astro";

const title = 'home';
const lang = 'en';

---
<Main title={title} lang={lang}>

    <HeroSection />

</Main>