---
import Index from "../layouts/index.astro";

import Slide from "../components/index/slide.astro";

const title = 'html responsive templates';
const templates = [
    {
        'img': 'we-love-krisps.jpeg',
        'url': 'we-love-krisps',
        'bg-color': 'rgb(255,147,147)'
    }
];
---
<Index>
    <main class="h-full w-full">
        <section id="swiper-container" class="max-w-6xl mx-auto">
            <div class="swiper h-full">
                <div class="swiper-wrapper h-full">
                    <div class="swiper-slide px-20 text-center flex flex-col justify-center">
                        <h1 class="text-5xl capitalize font-bold">{title}</h1>
                        <p class="mt-6 text-3xl">
                            cool responsive html web pages with all javascript features implemented.
                        </p>
                    </div>
                    {
                        templates.map(slide => {
                            return <Slide>
                                <a href={slide.url}>
                                    <img src="./images/we-love-krisps.jpeg" alt="">
                                </a>
                            </Slide>
                        })
                    }
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
    </main>
</Index>
<script>
    import Swiper, { Navigation } from 'swiper';

    const swiper = new Swiper('.swiper', {
        modules: [Navigation],
        slidesPerView: 1,
        speed: 400,
        spaceBetween: 0,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<style lang="scss">
    main {
        display: grid;
        grid-template-columns: minmax(0px, 1fr);
        align-items: center;

        #swiper-container {
            height: 100%;
            max-height: calc(100% - 200px);
        }
    }
</style>