---
import Index from "../layouts/index.astro";

import Slide from "../sections/index/slide.astro";

const title = 'html responsive templates';
const slides = [
    {
        'url': 'we-love-krisps',
        'img': 'wlk/we-love-krisps.jpeg',
        'bg-color': 'rgb(255,147,147)'
    },{
        'url': 'hanvesting',
        'img': 'inv/hanvesting.png',
        'bg-color': 'black'
    }

];
---
<Index>
    <main class="h-full w-full grid items-center">
        <section id="swiper-container" class="h-full w-full max-w-6xl mx-auto">
            <div class="swiper h-full">
                <div class="swiper-wrapper h-full">
                    <div class="swiper-slide home-slide text-center flex flex-col justify-center">
                        <h1 class="text-6xl capitalize font-bold">{title}</h1>
                        <p class="mt-6 text-4xl">
                            cool responsive html web pages with all javascript features implemented.
                        </p>
                        <div id="main-slide-ctrl" class="flex justify-center mt-14">
                            <a 
                            href="https://github.com/andrew-zachary"
                            class="btn-icon-txt
                            px-4 py-2
                            border border-black rounded-2xl 
                            flex justify-between items-center">
                                <img class="w-16" src="https://www.svgrepo.com/show/448447/github.svg" alt="source code">
                                <p class="text-3xl font-bold">{`<source />`}</p>
                            </a>
                        </div>
                    </div>
                    {
                        slides.map(slide => {
                            return <Slide url={slide.url} img={slide.img} bgColor={slide['bg-color']} />
                        })
                    }
                </div>
                <div class="swiper-button-prev bg-black px-9 py-6 rounded-full after:content-['prev'] after:text-4xl after:text-white"></div>
                <div class="swiper-button-next bg-black px-9 py-6 rounded-full after:content-['next'] after:text-4xl after:text-white"></div>
            </div>
        </section>
    </main>
</Index>
<script>
    import Swiper, { Navigation } from 'swiper';

    const swiper = new Swiper('.swiper', {
        modules: [Navigation],
        slidesPerView: 1,
        speed: 400,
        spaceBetween: 0,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    swiper.on('slideChange', (swiper) => {
        const currentSlideBgColor = swiper.slides[swiper.activeIndex].getAttribute('data-bg-color') ?? 'white';
        document.body.style.backgroundColor = currentSlideBgColor;
    });
</script>
<style lang="scss" is:global>
    main {
        grid-template-columns: minmax(0px, 1fr);

        .btn-icon-txt {

            img {
                @include withRtl('margin', 0 1rem 0 0, 0 0 0 1rem);
            }
        }

        .btn-txt-icon {

            p {
                @include withRtl('margin', 0 1rem 0 0, 0 0 0 1rem);
            }
        }

        #swiper-container {
            max-height: 46.8rem;
            
            .swiper-slide {
                padding: 0 7rem;
            }

            @media screen and (max-width: 768px) {
                
                .swiper-button-prev, .swiper-button-next {
                    top: 90%;
                }

                .swiper-slide {
                    padding: 0 1rem;

                    .thumbnail-img {
                        width: 58rem;
                    }
                }
            }

            @media screen and (max-width: 600px) {
                
                .swiper-slide { 

                    .thumbnail-img {
                        min-width: 58rem;
                    }
                }
            }
        }
    }
</style>