footer {
    & > ul {
        padding-top: 6rem;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10rem;
        row-gap: 3rem;
        li {
            padding: 0 1rem;
            .footer-cell-header {
                @apply uppercase font-mont font-bold text-[2rem] text-tertiary-color;
            }
            .footer-cell-content{
                @apply pt-[1rem] font-mont font-regular text-[2rem];
                li {
                    text-transform: capitalize;
                }
            }
        }
        #about-us {
            grid-column: 1 / 3;
        }
        #form-cell {
            padding-top: 3rem;
            grid-column: 1 / 3;
            //form inside
            form {
                .form-input {
                    border: 0.2rem solid $primary-color;
                    max-width: 30rem;
                    width: 100%;
                    input {
                        background-color: $secondary-color;
                        color: $tertiary-color;
                        padding-top: 0.9rem;
                        padding-bottom: 0.9rem;
                        &, &::placeholder {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        #social-cell {
            padding-top: 3rem;
            grid-column: 3 / 5;
            ul {
                li {
                    @include withRtl(margin, 0 2rem 0 0, 0 0 0 2rem);
                }
            }
        }
    }
    .end-footer {
        padding-top: 6rem;
        h1 {
            padding: 2rem 0;
            font-size: 1.68rem;
        }
    }
    @media screen and (max-width:1200px) {
        & > ul {
            column-gap: 3rem;
            #form-cell {
                form {
                    flex-direction: column;
                    @apply max-w-[34rem] mx-auto;
                    .form-btn, .form-input {
                        max-width: unset;
                    }
                    .form-btn {
                        width: 100%;
                        button {
                            margin-top: 2rem;
                            width: 100%;
                        }
                    }
                }
            }
            #we-are-here {
                grid-column: 1 / 3;
            }
            #open-daily {
                grid-column: 3 / 5
            }
            #call-us {
                grid-column: 1 / 3;
            }
            #say-hello {
                grid-column: 3 / 5;
            }
        }
    }
    @media screen and (max-width: 768px) {
        & > ul {
            grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
            column-gap: 0;
            #about-us, #vision, #menu, #we-are-here, #open-daily, #call-us, #say-hello, #form-cell, #social-cell {
                grid-column: unset;
            }
            #about-us, #form-cell, #social-cell {
                grid-column: 1 / -1;
            }
            #social-cell {
                ul {
                    margin-top: 2rem;
                    li {
                        margin: 0 2rem;
                    }
                }
                flex-direction: column;
            }
        }
    }
}