---
---
<section id="top" class="bg-wlk-primary-color">
    <div class="layout-container-xlg uppercase text-center font-mont text-wlk-quaternary-color">
        <h1 class="font-black"> 
            <div>
                we <span class="text-wlk-secondary-color">love</span>
            </div>
            <div>
                <span class="font-hmPop">krisps</span>
            </div>    
        </h1>
        <h2 class="font-regular tracking-widest">discover why</h2>
        <button>
            <img src="/images/wlk/arrow-down-btn.svg" alt="open menu">
        </button>
    </div>
</section>
<style lang="scss">
    #top {
        & > div {
            padding-top: 18rem;
            h1 {
                font-size: 6rem;
                line-height: 13rem;
                .font-hmPop {
                    font-size: 12rem;
                }
            }
            h2 {
                font-size: 4.5rem;
                padding: 6rem 0;
            }
        }
        @media screen and (max-width: 601px) {
            & > div {
                h1 {
                    font-size: calc(1rem + 8vw);
                    line-height: calc(1rem + 8vw);
                    .font-hmPop {
                        font-size: calc(1rem + 16vw);
                        line-height: calc(1rem + 16vw);
                    }
                }
            }
        }
    }
</style>