---
 const { borderColor, textColor, marginB } = Astro.props;
---
<p class:list={[
    borderColor, 
    textColor, 
    marginB, 
    "flex items-center justify-center w-[7.2rem] h-[7.2rem] mx-auto bg-primary border-4 rounded-full text-[3.6rem]"]}
>1</p>