<button href="#" 
    class="flex items-center justify-center
    px-[1.2rem] py-[0.8rem]
    text-[1.6rem] 
    bg-ternary hover:bg-[#b06bf5]
    rounded-lg"
>
    <slot name="left"></slot>
    <slot name="right"></slot>
</button>