---

const { 
    shadowType, 
    boxBorder,
    boxBg,
    circleStyle, 
    headerTxtColor, 
    paraTxtColor } = Astro.props;

---
<style lang="scss">

    li:nth-child(even) {
        margin-top: 3.2rem;
    }

    .icons-blocks {
        position: absolute;
        bottom: -4rem;
        right: -4rem;

        body[dir=rtl] & {
            
            right: unset;
            left: -4rem!important;
        }
    }

</style>
<li 
    class:list={[
    shadowType,
    boxBorder,
    boxBg,
    "pt-[3.2rem] px-[3.2rem] pb-[5.6rem] grid grid-cols-4 relative overflow-hidden"]}
>
    <div class="col-span-3">
        <h1 class:list={[headerTxtColor, "mb-[1.6rem] text-[1.8rem] capitalize font-bold"]}>
            <slot name="header"></slot>
        </h1>
        <p class:list={[paraTxtColor, "text-[1.4rem] leading-8 text-secondary"]}>
            <slot name="desc"></slot>
        </p>
    </div>
    <div class="icons-blocks w-[12.8rem] h-[12.8rem]">
        <div class="absolute">
            <slot name="blocks"></slot>
        </div>
        <div 
            class:list={[
                circleStyle,
                "p-[3.6rem] w-[9.6rem] h-[9.6rem] absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%]"
            ]}>
            <slot name="icon"></slot>
        </div>
    </div>
</li>