---
    import Logo from "../assets/logo.astro";
---
<footer class="px-[2rem] pb-[4.8rem] md:pb-[5.6rem] pt-[4.8rem] max-w-[116rem] mx-auto">
    <div 
        class="grid grid-cols-2 gap-[3.2rem] 
        md:grid-cols-12 md:gap-[1.6rem]  
        lg:gap-[6.4rem]"
    >
        <div class="hidden col-span-3 md:flex flex-col justify-between lg:col-span-4">
            <a href="#" class="max-w-[2.4rem] md:max-w-[3.2rem]"><Logo /></a>
            <div class="text-[1.2rem] text-[#878593] w-full">
                Copyright © 
                2023
                Railway Corp. 
                All rights reserved.
            </div>
        </div>
        <div class="col-span-1 md:col-span-2 text-[#878593]">
            <p class="text-[1.2rem] font-bold uppercase ">Product</p>
            <ul>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Changelog</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Pricing</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Templates</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Feedback</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">OSS Kickback</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Migrate from Heroku</a>
                </li>
            </ul>
        </div>
        <div class="col-span-1 md:col-span-2 text-[#878593]">
            <p class="text-[1.2rem] font-bold uppercase ">COMPANY</p>
            <ul>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">About</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Careers</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Blog</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Shop</a>
                </li>
            </ul>
        </div>
        <div class="col-span-1 md:col-span-2 text-[#878593]">
            <p class="text-[1.2rem] font-bold uppercase ">CONTACT</p>
            <ul>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Discord</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Twitter</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">GitHub</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Email</a>
                </li>
            </ul>
        </div>
        <div class="col-span-1 md:col-span-2 text-[#878593]">
            <p class="text-[1.2rem] font-bold uppercase ">LEGAL</p>
            <ul>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Fair Use</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Privacy Policy</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Terms of Service</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">Bug Bounty Program</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col md:hidden mt-[3.2rem] text-center items-center">
        <a href="#" class="block min-w-[3.2rem] min-h-[2.5rem] h-[4rem] w-[4rem] flex items-center"><Logo /></a>
        <div class="text-[1.2rem] text-[#878593] w-full mt-[1.6rem]">
            Copyright © 
            2023
            Railway Corp. 
            <br />
            All rights reserved.
        </div>
    </div>
</footer>