---

import Btn from "./common-btn.astro";

---
<style lang="scss">

    #hero {
        background: linear-gradient(327.21deg, rgba(33, 0, 75, 0.24) 3.65%, rgba(60, 0, 136, 0) 40.32%), linear-gradient(245.93deg, rgba(209, 21, 111, 0.16) -1%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(147.6deg, rgba(58, 19, 255, 0) 29.79%, rgba(98, 19, 255, 0.01) 85.72%), #13111C;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 94%);

        #bgs-box {

            direction: ltr!important;
        }

        #text-box {

            h1 {
                font-size: clamp(3.2rem, calc(3.2rem + ((1vw - 5.7px) * 6.4)), 64px);
            }
        }
    }

</style>
<section id="hero"
    class="h-full min-h-full relative
    overflow-hidden"
>

    <div id="bgs-box" 
        class="h-full w-full absolute top-[15%] left-[16%]
        hidden
        lg:flex items-center justify-center"
    >
        <img class="h-[40vh] translate-y-[5%]" src="/computer-city-lines--dark.svg" alt="computer city" />
        <img class="h-[75vh] translate-y-[-10%]" src="/deployments-sc--dark.svg" alt="deployments list" />
    </div>

    <div id="text-box"
        class="h-full max-w-screen-xlg mx-auto px-[3.2rem] relative z-10
        w-full flex flex-col justify-center"
    >
        <h1 class="font-bold mb-[2.4rem]">
            Bring your code,
            <br />
            we'll handle the rest.
        </h1>
        <p class="max-w-[57.6rem] text-sm text-secondary mb-[4.8rem]">
            Made for any language, for projects big and small. Railway is the cloud that takes the complexity out of shipping software.
        </p>
        <div>
            <Btn>Start a New Project</Btn>
        </div>
    </div>

</section>