---

import ShapeBlocks from "../assets/shape-blocks.astro";
import ShapeGithub from "../assets/shape-github.astro";
import ShapeStacks from "../assets/shape-stacks.astro";
import ShapeUsers from "../assets/shape-users.astro";
import ShapeRefresh from "../assets/shape-refresh.astro";

import CommonCircleNumber from "./common-circle-number.astro";
import CommonListItemBox from "./common-list-item-box.astro";

import BoxEdge from "../parts/box-edge.astro";

---
<style lang="scss">

    #iterate-accelerate {
        background: linear-gradient(132.29deg, rgba(132, 200, 168, 0.08) 17.64%, rgba(114, 192, 156, 0) 66.58%), rgb(24, 22, 34);
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 96%);
    }

    h2 {
        font-size: clamp(32px,4vw,40px);
    }

</style>
<section id="iterate-accelerate"
    class="relative -mx-[2rem] md:-mx-[3.2rem]"
>
    <div id="iterate-accelerate__box" class="max-w-screen-xlg mx-auto">

        <BoxEdge bg="bg-[#13111c]" />

        <CommonCircleNumber borderColor="border-green-1" textColor="text-green-1" marginB="mb-[6.8rem]">2</CommonCircleNumber>
        <p class="text-green-1 text-[2.4rem] text-center font-bold capitalize mb-[0.8rem]">Up and Running</p>
        <h2 class="text-center font-bold capitalize">Iterate and Accelerate</h2>
        <hr class="w-[16rem] mx-auto my-[2.4rem] border-green-1" />
        <p class="text-[1.8rem] text-center max-w-[89.6rem] mx-auto">From the first deploy, anything is possible. Railway helps you ship quickly by removing common developer hurdles</p>
        <div class="w-full mt-[9.6rem] pb-[14.4rem] px-[2rem]
            grid grid-cols-1
            md:grid-cols-10 gap-[3.2rem]
            lg:px-[9.6rem]"
        >
            <ul class="md:col-span-4">
                <CommonListItemBox 
                    shadowType="shadow-type-2" 
                    boxBorder="border-2 border-green-2 rounded-lg"
                    boxBg="bg-[#181622]"
                    circleStyle="border-2 border-green-2 rounded-full bg-[#181622]"
                    headerTxtColor="text-green-3"
                    paraTxtColor="text-green-3"
                >
                    <span slot="header">Automagic Builds</span>
                    <span slot="desc">Say Bye to CI. Every push is built and deployed, including dependent infrastructure.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-green-2" />
                    <ShapeGithub slot="icon" />
                </CommonListItemBox>
                <CommonListItemBox 
                    shadowType="shadow-type-2" 
                    boxBorder="border-2 border-green-2 rounded-lg"
                    boxBg="bg-[#181622]"
                    circleStyle="border-2 border-green-2 rounded-full bg-[#181622]"
                    headerTxtColor="text-green-3"
                    paraTxtColor="text-green-3"
                >
                    <span slot="header">Infrastructure as Legos</span>
                    <span slot="desc">Add a cron job, a database, or another (micro)service! Railway grows with your application.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-green-2" />
                    <ShapeStacks slot="icon" />
                </CommonListItemBox>
            </ul>
            <div id="greenTrainStation" class="col-span-2 hidden md:flex justify-center">
                <div class="w-[1.6rem] h-[140%] -mt-12 mx-auto relative" style="background: var(--green-track)">
                    <img id="greenTrain1" src="/green-train-1.svg" class="absolute top-0 bottom-0 left-1/2" style="max-width: initial; transform: translate(-50%, 0px);" />
                </div>
                <div class="w-[1.6rem] h-[140%] -mt-12 mx-auto relative" style="background: var(--green-track)">
                    <img id="greenTrain2" src="/green-train-2.svg" class="absolute top-0 bottom-0 left-1/2" style="max-width: initial; transform: translate(-50%, 0px);" />
                </div>
                <div class="w-[1.6rem] h-[140%] -mt-12 mx-auto relative" style="background: var(--green-track)">
                    <img id="greenTrain3" src="/green-train-3.svg" class="absolute top-0 bottom-0 left-1/2" style="max-width: initial; transform: translate(-50%, 0px);" />
                </div>
            </div>
            <ul class="md:col-span-4">
                <CommonListItemBox 
                    shadowType="shadow-type-2" 
                    boxBorder="border-2 border-green-2 rounded-lg"
                    boxBg="bg-[#181622]"
                    circleStyle="border-2 border-green-2 rounded-full bg-[#181622]"
                    headerTxtColor="text-green-3"
                    paraTxtColor="text-green-3"
                >
                    <span slot="header">Secrets Management</span>
                    <span slot="desc">Keep Environment Variables and Secrets for your team, securely, in one place.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-green-2" />
                    <ShapeUsers slot="icon" />
                </CommonListItemBox>
                <CommonListItemBox 
                    shadowType="shadow-type-2" 
                    boxBorder="border-2 border-green-2 rounded-lg"
                    boxBg="bg-[#181622]"
                    circleStyle="border-2 border-green-2 rounded-full bg-[#181622]"
                    headerTxtColor="text-green-3"
                    paraTxtColor="text-green-3"
                >
                    <span slot="header">Railway CLI</span>
                    <span slot="desc">Connect to your infrastructure + secrets, from any terminal in the world.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-green-2" />
                    <ShapeRefresh slot="icon" />
                </CommonListItemBox>
            </ul>
        </div>
    </div>
</section>