---

import { sortAsc } from "../js/utils.js"

import ShapeBlocks from "../assets/shape-blocks.astro";

import CommonCircleNumber from "./common-circle-number.astro";
import CommonListItemBox from "./common-list-item-box.astro";

const { lang } = Astro.props;

const items1 = lang === 'en' ? 
    (await Astro.glob('../content/en/iterate-accelerate-list1/*.md')).sort(sortAsc) :
    (await Astro.glob('../content/ar/iterate-accelerate-list1/*.md')).sort(sortAsc);
const items2 = lang === 'en' ? 
    (await Astro.glob('../content/en/iterate-accelerate-list2/*.md')).sort(sortAsc) :
    (await Astro.glob('../content/ar/iterate-accelerate-list2/*.md')).sort(sortAsc);

import BoxEdge from "../parts/box-edge.astro";

---
<style lang="scss">

    #iterate-accelerate {
        background: linear-gradient(132.29deg, rgba(132, 200, 168, 0.08) 17.64%, rgba(114, 192, 156, 0) 66.58%), rgb(24, 22, 34);
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 96%);
    }

</style>
<section id="iterate-accelerate"
    class="relative -mx-[2rem] md:-mx-[3.2rem]"
>
    <div id="iterate-accelerate__box" class="max-w-screen-xlg mx-auto">

        <BoxEdge bg="bg-[#13111c]" />

        <CommonCircleNumber borderColor="border-green-1" textColor="text-green-1" marginB="mb-[6.8rem]">2</CommonCircleNumber>
        <slot name="topHeader"></slot>
        <slot name="header"></slot>
        <hr class="w-[16rem] mx-auto my-[2.4rem] border-green-1" />
        <slot name="subHeader"></slot>
        <div id="iterate-accelerate-box" class="w-full mt-[9.6rem] pb-[19.2rem] px-[2rem]
            grid grid-cols-1
            md:grid-cols-10 gap-[3.2rem]
            lg:px-[9.6rem]"
        >
            <ul class="to-reveal iterate-accelerate-lists md:col-span-4">

                {
                    items1.map( item => {
                        return <CommonListItemBox 
                            shadowType="shadow-type-2" 
                            boxBorder="border-2 border-green-2 rounded-lg"
                            boxBg="bg-[#181622]"
                            circleStyle="border-2 border-green-2 rounded-full bg-[#181622]"
                            headerTxtColor="text-green-3"
                            paraTxtColor="text-green-3"
                        >
                            <span slot="header">{item.frontmatter.title}</span>
                            <span slot="desc">{item.frontmatter.desc}</span>
                            <ShapeBlocks slot="blocks" blocksColor="stroke-green-2" />
                            <item.Content />
                        </CommonListItemBox>
                    })
                }

            </ul>
            <div id="greenTrainStation" class="col-span-2 hidden md:flex justify-center">
                <div class="w-[1.6rem] h-[140%] -mt-12 mx-auto relative" style="background: var(--green-track)">
                    <img id="greenTrain1" src="/green-train-1.svg" class="absolute top-0 bottom-0 left-1/2" style="max-width: initial; transform: translate(-50%, 0px);" />
                </div>
                <div class="w-[1.6rem] h-[140%] -mt-12 mx-auto relative" style="background: var(--green-track)">
                    <img id="greenTrain2" src="/green-train-2.svg" class="absolute top-0 bottom-0 left-1/2" style="max-width: initial; transform: translate(-50%, 0px);" />
                </div>
                <div class="w-[1.6rem] h-[140%] -mt-12 mx-auto relative" style="background: var(--green-track)">
                    <img id="greenTrain3" src="/green-train-3.svg" class="absolute top-0 bottom-0 left-1/2" style="max-width: initial; transform: translate(-50%, 0px);" />
                </div>
            </div>
            <ul class="to-reveal iterate-accelerate-lists md:col-span-4">

                {
                    items2.map( item => {
                        return <CommonListItemBox 
                            shadowType="shadow-type-2" 
                            boxBorder="border-2 border-green-2 rounded-lg"
                            boxBg="bg-[#181622]"
                            circleStyle="border-2 border-green-2 rounded-full bg-[#181622]"
                            headerTxtColor="text-green-3"
                            paraTxtColor="text-green-3"
                        >
                            <span slot="header">{item.frontmatter.title}</span>
                            <span slot="desc">{item.frontmatter.desc}</span>
                            <ShapeBlocks slot="blocks" blocksColor="stroke-green-2" />
                            <item.Content />
                        </CommonListItemBox>
                    })
                }

            </ul>
        </div>
    </div>
</section>