---

import CommonCircleNumber from "./common-circle-number.astro";
import StartTinkerItemShape from "../assets/start-tinker-item-shape.astro";
import ShapeBold from "../assets/shape-bolt.astro";

---
<style lang="scss">

    h2 {
        font-size: clamp(32px,4vw,40px);
    }

    ul {

        li {
            box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
        }
    }

</style>
<section id="start-tinker"
    class="h-full min-h-full relative
    overflow-hidden"
>
    <CommonCircleNumber borderColor="border-ternary" textColor="text-ternary" marginB="mb-[6.8rem]" />
    <p class="text-ternary text-[2.4rem] text-center font-bold capitalize mb-[0.8rem]">now boarding, local.</p>
    <h2 class="text-center font-bold capitalize">start and tinker</h2>
    <hr class="w-[16rem] mx-auto my-[2.4rem] border-ternary" />
    <p class="text-[1.8rem] text-center max-w-[89.6rem] mx-auto">Begin with your repository, or start with a template. Our tooling extends your app with plugins and variable management so environments are the same live as local.</p>
    <div class="mt-[9.6rem]">
        <ul>
            <li 
                class="pt-[3.2rem] px-[3.2rem] pb-[5.6rem]
                grid grid-cols-4 
                relative 
                overflow-hidden">
                <div class="col-span-3">
                    <h1 class="mb-[1.6rem] text-[#8caef2] text-[1.8rem] capitalize font-bold">Solid Base</h1>
                    <p class="text-[1.4rem] leading-8 text-secondary">Start from scratch or pick a template to deploy instantly, from bots to blogs.</p>
                </div>
                <div class="w-[12.8rem] h-[12.8rem] absolute right-[-4rem] bottom-[-4rem]">
                    <div class="absolute">
                        <StartTinkerItemShape />
                    </div>
                    <div 
                        class="p-[3.6rem]
                        w-[9.6rem] h-[9.6rem] 
                        absolute top-[50%] left-[50%] 
                        translate-y-[-50%] translate-x-[-50%] 
                        border-2 border-ternary rounded-full">
                        <ShapeBold />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>