---
import CommonBtnSubtxt from "./common-btn-subtxt.astro";
---
<section 
    id="deploy-app" 
    class="max-w-[116rem] mx-auto
    px-[2rem] mb-[9.6rem]
    relative z-20"
>
    <div 
        class="flex flex-col items-center
        text-center
        border-white border-opacity-10
        bg-white bg-opacity-5 rounded-[1.2rem]
        px-[2rem] py-[6.4rem]"
    >
        <slot name="header"></slot>
        <slot name="subHeader"></slot>
        <CommonBtnSubtxt>
            <span slot="subtxt" class="px-[0.8rem] py-[0.4rem]"><slot name="btn"></slot></span>
        </CommonBtnSubtxt>
    </div>
</section>