---

import { sortAsc } from "../js/utils.js";

const { lang } = Astro.props;

const brands = lang === 'en' ? 
    (await Astro.glob('../content/en/brands/*.md')).sort(sortAsc) : 
    (await Astro.glob('../content/ar/brands/*.md')).sort(sortAsc);

---
<style lang="scss" is:global>

    #brands {

        #brands-layout {

            div:first-child, div:last-child {
        
                p {
                    @include withRtl(text-align, left, right);
                }
            }
        }
    }

</style>
<section id="brands" class="-mx-[2rem] md:-mx-[3.2rem]">
    <div id="brands-layout" class="grid grid-cols-2 md:grid-cols-4">
        <div
            class="bg-[#181622] flex flex-col justify-center items-center px-[2.4rem] py-[4.8rem] md:px-[4.8rem]">
            <slot name="head"></slot>
        </div>

        {
            brands.map( brand => {
                return <a 
                    href="#" 
                    class="px-[2.4rem] py-[4.8rem] md:px-[4.8rem]
                    flex flex-col justify-center items-center"
                    style={`background:${brand.frontmatter.bg}`}
                >
                    <img src={brand.frontmatter.logo} alt="">
                    <p class="text-[1.8rem] font-bold mt-[1.6rem] mb-[0.8rem] capitalize">{brand.frontmatter.title}</p>
                    <brand.Content />
                </a>
            })
        }

        <div 
            class="bg-[#181622] flex flex-col justify-center items-center px-[2.4rem] py-[4.8rem] md:px-[4.8rem]">
            <slot name="tail"></slot>
        </div>
    </div>
</section>