---
    import CommonBtn from "./common-btn.astro";
---
<section 
    id="deploy-app" 
    class="max-w-[116rem] mx-auto
    flex flex-col items-center
    text-center 
    px-[3.2rem] py-[6.4rem] mb-[9.6rem]
    border-white border-opacity-10
    bg-white bg-opacity-5 rounded-[1.2rem]"
>
    <h2 class="text-[3.55rem] font-bold mb-[2.4rem] max-w-[44.8rem]">Deploy an App to Production in Minutes</h2>
    <p class="text-[2rem] text-[#878593] mb-[3.2rem] max-w-[51.2rem]">Join thousands of people deploying hundreds of thousands of applications effortlessly on Railway</p>
    <CommonBtn>
        Click this Button
    </CommonBtn>
</section>