<section id=brands class="-mx-[2rem] md:-mx-[3.2rem]">
    <div id="brands-layout" class="grid grid-cols-2 md:grid-cols-4">
        <div 
            class="bg-[#181622] flex flex-col justify-center items-center px-[2.4rem] py-[4.8rem] md:px-[4.8rem]">
            <slot name="head"></slot>
        </div>
        <a 
            href="#" 
            class="bg-[#e06254]
            px-[2.4rem] py-[4.8rem] md:px-[4.8rem]
            flex flex-col justify-center items-center"
        >
            <img src="/logo--atmos.svg" alt="">
            <p class="text-[1.8rem] font-bold mt-[1.6rem] mb-[0.8rem] capitalize">atmos</p>
            <p class="text-[1.4rem] text-center">
                Real estate
                <br />
                home customization
            </p>
        </a>
        <a 
            href="#" 
            class="bg-[#e06254]
            px-[2.4rem] py-[4.8rem] md:px-[4.8rem]
            flex flex-col justify-center items-center"
            style="background: linear-gradient(245.33deg, rgb(106, 152, 190) 0%, rgb(56, 90, 164) 20.83%, rgb(53, 75, 107) 45.58%, rgb(71, 48, 36) 69.18%, rgb(42, 29, 20) 92.17%);"
        >
            <img src="/logo--zora.svg" alt="">
            <p class="text-[1.8rem] font-bold mt-[1.6rem] mb-[0.8rem] capitalize">zora</p>
            <p class="text-[1.4rem] text-center">
                Decentralized auctions 
                <br />
                house for NFTs
            </p>
        </a>
        <a 
            href="#" 
            class="bg-[#2f2d39]
            px-[2.4rem] py-[4.8rem] md:px-[4.8rem]
            flex flex-col justify-center items-center"
        >
            <img src="/logo--fion-tech.svg" alt="">
            <p class="text-[1.8rem] font-bold mt-[1.6rem] mb-[0.8rem] capitalize">Fion Tech</p>
            <p class="text-[1.4rem] text-center">
                Machine learning models for 
                <br />
                fire prediction and detection
            </p>
        </a>
        <a 
            href="#" 
            class="bg-[#535260]
            px-[2.4rem] py-[4.8rem] md:px-[4.8rem]
            flex flex-col justify-center items-center"
        >
            <img src="/logo--operand.svg" alt="">
            <p class="text-[1.8rem] font-bold mt-[1.6rem] mb-[0.8rem] capitalize">Operand</p>
            <p class="text-[1.4rem] text-center">
                Reimagining natural
                <br />
                language interfaces
            </p>
        </a>
        <a 
            href="#" 
            class="bg-[#19253f]
            px-[2.4rem] py-[4.8rem] md:px-[4.8rem]
            flex flex-col justify-center items-center"
        >
            <img src="/logo--stepzen.svg" alt="">
            <p class="text-[1.8rem] font-bold mt-[1.6rem] mb-[0.8rem] capitalize">StepZen</p>
            <p class="text-[1.4rem] text-center">
                Easy GraphQL endpoints 
                <br />
                for application data
            </p>
        </a>
        <a 
            href="#" 
            class="bg-[#292e4c]
            px-[2.4rem] py-[4.8rem] md:px-[4.8rem]
            flex flex-col justify-center items-center"
        >
            <img src="/logo--slip.svg" alt="">
            <p class="text-[1.8rem] font-bold mt-[1.6rem] mb-[0.8rem] capitalize">Slip</p>
            <p class="text-[1.4rem] text-center">
                Easily build and sell interactive 
                <br />
                programming courses
            </p>
        </a>
        <div 
            class="bg-[#181622] flex flex-col justify-center items-center px-[2.4rem] py-[4.8rem] md:px-[4.8rem]">
            <slot name="tail"></slot>
        </div>
    </div>
</section>