---

import ShapeBlocks from "../assets/shape-blocks.astro";
import ShapeArrows from "../assets/shape-arrows.astro";
import ShapeLock from "../assets/shape-lock.astro";
import ShapeMetrics from "../assets/shape-metrics.astro";
import ShapeCheck from "../assets/shape-check.astro";
import ShapeArrowTop from "../assets/shape-arrow-top.astro";
import ShapeSupport from "../assets/shape-support.astro";

import CommonCircleNumber from "./common-circle-number.astro";
import CommonListItemBox from "./common-list-item-box.astro";

---
<style lang="scss">

    h2 {
        font-size: clamp(32px,4vw,40px);
    }

</style>
<section id="start-tinker"
    class="relative max-w-screen-xlg mx-auto"
>

    <div class="-mx-[2rem] md:-mx-[3.2rem]">

        <CommonCircleNumber borderColor="border-blue-2" textColor="text-blue-2" marginB="mb-[6.8rem]">3</CommonCircleNumber>
        <p class="text-ternary text-[2.4rem] text-center font-bold capitalize mb-[0.8rem]">Next Stop, Production.</p>
        <h2 class="text-center font-bold capitalize">Launch and Scale</h2>
        <hr class="w-[16rem] mx-auto my-[2.4rem] border-ternary" />
        <p class="text-[1.8rem] text-center max-w-[89.6rem] mx-auto">As you push the limits of what is possible, Railway keeps your applications on track. Keep your sites seen without costing a fortune.</p>
        <div class="w-full absolute inset-0 -z-10 flex items-center justify-center">
            <img src="/big-train.svg" alt="">
        </div>
        <div class="relative z-20 w-full mt-[9.6rem] pb-[14.4rem] px-[2rem]
            grid grid-cols-1
            md:grid-cols-12 gap-[3.2rem]
            lg:px-[9.6rem]"
        >
            <ul class="md:col-span-4">
                <CommonListItemBox
                    shadowType="shadow-type-1" 
                    boxBorder="border-2 border-blue-1 rounded-lg"
                    boxBg="bg-primary"
                    circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                    headerTxtColor="text-blue-3"
                    paraTxtColor="text-white"
                >
                    <span slot="header">Autoscaling</span>
                    <span slot="desc">Railway scales apps to meet user demand, automagically, based on load.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                    <ShapeArrows slot="icon" />
                </CommonListItemBox>
                <CommonListItemBox
                    shadowType="shadow-type-1" 
                    boxBorder="border-2 border-blue-1 rounded-lg"
                    boxBg="bg-primary"
                    circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                    headerTxtColor="text-blue-3"
                    paraTxtColor="text-white"
                >
                    <span slot="header">Production-ready</span>
                    <span slot="desc">Railway runs on Railway, join us and others serving requests at web scale.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                    <ShapeLock slot="icon" />
                </CommonListItemBox>
            </ul>
            <ul class="md:col-span-4">
                <CommonListItemBox
                    shadowType="shadow-type-1" 
                    boxBorder="border-2 border-blue-1 rounded-lg"
                    boxBg="bg-primary"
                    circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                    headerTxtColor="text-blue-3"
                    paraTxtColor="text-white"
                >
                    <span slot="header">Safe and Sound</span>
                    <span slot="desc">A secure mission control, without the policy headache. Permissions, 2FA, and more.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                    <ShapeMetrics slot="icon" />
                </CommonListItemBox>
                <CommonListItemBox
                    shadowType="shadow-type-1" 
                    boxBorder="border-2 border-blue-1 rounded-lg"
                    boxBg="bg-primary"
                    circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                    headerTxtColor="text-blue-3"
                    paraTxtColor="text-white"
                >
                    <span slot="header">+99% Uptime</span>
                    <span slot="desc">Applications stay on the grid with high availability and high uptime guarantees.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                    <ShapeCheck slot="icon" />
                </CommonListItemBox>
            </ul>
            <ul class="md:col-span-4">
                <CommonListItemBox
                    shadowType="shadow-type-1" 
                    boxBorder="border-2 border-blue-1 rounded-lg"
                    boxBg="bg-primary"
                    circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                    headerTxtColor="text-blue-3"
                    paraTxtColor="text-white"
                >
                    <span slot="header">Usage Metrics</span>
                    <span slot="desc">Real-time metrics to debug issues. Slow query added? We’ll show you exactly where.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                    <ShapeArrowTop slot="icon" />
                </CommonListItemBox>
                <CommonListItemBox
                    shadowType="shadow-type-1" 
                    boxBorder="border-2 border-blue-1 rounded-lg"
                    boxBg="bg-primary"
                    circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                    headerTxtColor="text-blue-3"
                    paraTxtColor="text-white"
                >
                    <span slot="header">Supreme Support</span>
                    <span slot="desc">Overcome any challenge with a supporting team ready to respond.</span>
                    <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                    <ShapeSupport slot="icon" />
                </CommonListItemBox>
            </ul>
        </div>

    </div>

</section>