---
import { sortAsc } from "../js/utils.js"

import ShapeBlocks from "../assets/shape-blocks.astro";

import CommonCircleNumber from "./common-circle-number.astro";
import CommonListItemBox from "./common-list-item-box.astro";

const { lang } = Astro.props;

const items1 = lang === 'en' ?
    (await Astro.glob('../content/en/start-tinker-list1/*.md')).sort(sortAsc) : 
    (await Astro.glob('../content/ar/start-tinker-list1/*.md')).sort(sortAsc);
const items2 = lang === 'en' ? 
    (await Astro.glob('../content/en/start-tinker-list2/*.md')).sort(sortAsc) : 
    (await Astro.glob('../content/ar/start-tinker-list2/*.md')).sort(sortAsc);

---
<section id="start-tinker"
    class="relative max-w-screen-xlg mx-auto"
>
    <div class="-mx-[2rem] md:-mx-[3.2rem] -mt-[3.2rem]">

        <CommonCircleNumber borderColor="border-blue-2" textColor="text-blue-2" marginB="mb-[6.8rem]">1</CommonCircleNumber>
        <slot name="topHeader"></slot>
        <slot name="header"></slot>
        <hr class="w-[16rem] mx-auto my-[2.4rem] border-ternary" />
        <slot name="subHeader"></slot>
        <div id="start-tinker-box" class="w-full mt-[9.6rem] pb-[14.4rem] px-[2rem]
            grid grid-cols-1
            md:grid-cols-10 gap-[3.2rem]
            lg:px-[9.6rem]"
        >
            <ul class="to-reveal start-tinker-lists md:col-span-4">

                {
                    items1.map( item => {
                        return <CommonListItemBox
                            shadowType="shadow-type-1" 
                            boxBorder="border-2 border-blue-1 rounded-lg"
                            boxBg="bg-primary"
                            circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                            headerTxtColor="text-blue-3"
                            paraTxtColor="text-white"
                        >
                            <span slot="header">{item.frontmatter.title}</span>
                            <span slot="desc">{item.frontmatter.desc}</span>
                            <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                            <item.Content />
                        </CommonListItemBox>
                    })
                }

            </ul>
            <div id="blueTrainStation" class="col-span-2 hidden md:block relative">
                <img id="blueTrain" src="/01-train-dark.svg" class="w-[2.4rem] h-[15rem] absolute top-0 bottom-0 left-1/2" style="transform: translate(-50%, 0px);" />
                <div class="w-[1.6rem] h-[140%] -mt-12 mx-auto" style="background: var(--blue-track)"></div>
            </div>
            <ul class="to-reveal start-tinker-lists md:col-span-4">

                {
                    items2.map( item => {
                        return <CommonListItemBox
                            shadowType="shadow-type-1" 
                            boxBorder="border-2 border-blue-1 rounded-lg"
                            boxBg="bg-primary"
                            circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                            headerTxtColor="text-blue-3"
                            paraTxtColor="text-white"
                        >
                            <span slot="header">{item.frontmatter.title}</span>
                            <span slot="desc">{item.frontmatter.desc}</span>
                            <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                            <item.Content />
                        </CommonListItemBox>
                    })
                }

            </ul>
        </div>
    </div>    
</section>