---
---
<footer>
    <div id="footer-row-1">
        <div>
            <h1>investments 101</h1>
            <ul>
                <li>Our Courses</li>
                <li>What's New?</li>
                <li>Hanvesting Blog</li>
                <li>1:1 Coaching Calls</li>
            </ul>
        </div>
        <div>
            <h1>about us</h1>
            <ul>
                <li>meet the team</li>
                <li>what we do</li>
                <li>our purpose</li>
            </ul>
        </div>
        <div>
            <h1>join our newsletter</h1>
            <form>
                <input type="text" name="email" id="email">
                <button type="submit">subscribe</button>
            </form>
        </div>
    </div>
    <div id="footer-row-2">
        <h1>copyright 2021 hanvesting all rights reserved.</h1>
        <ul>
            <li>
                <img src="/images/inv/icon-1.png" alt="">
            </li>
            <li>
                <img src="/images/inv/icon-2.png" alt="">
            </li>
            <li>
                <img src="/images/inv/icon-3.png" alt="">
            </li>
        </ul>
    </div>
</footer>