---
---
<nav>
    <img src="/images/inv/logo.png" alt="">
    <ul>
        <li>
            <a href="#">home</a>
        </li>
        <li>
            <a href="#">our mission</a>
        </li>
        <li>
            <a href="#">learn</a>
        </li>
        <li>
            <a href="#">contact us</a>
        </li>
    </ul>
    <a href="#">sign up now</a>
</nav>