<section id="inv-three-steps">
    <div id="all-steps">
        <article>
            <h1>learning</h1>
            <div>
                <h2>personalized for you</h2>
                <p>hanvesting will guide you every step of the way so you can master the courses and make it work for you. The milestones are personalized based what you are looking to achieve.</p>
            </div>
        </article>
        <article>
            <h1>Investing</h1>
            <div>
                <h2>everything you need</h2>
                <p>hanvesting will guide you every step of the way so you can master the courses and make it work for you. The milestones are personalized based what you are looking to achieve.</p>
            </div>
        </article>
        <article>
            <h1>Coaching</h1>
            <div>
                <h2>all in one place</h2>
                <p>hanvesting will guide you every step of the way so you can master the courses and make it work for you. The milestones are personalized based what you are looking to achieve.</p>
            </div>
        </article>
    </div>
    <img src="/images/inv/woman-with-lab.png" alt="">
</section>