---
---
<section id="inv-top">
    <article>
        <img src="/images/inv/chart-2.png" alt="">
        <h1>investments</h1>
        <p>Make your investment journey easier by learning the basics with hanvesting</p>
        <a href="#">Learn More</a>
    </article>
    <img src="/images/inv/top-img.png" alt="">
    <article>
        <img src="/images/inv/chart.png" alt="">
        <h1>made easier</h1>
        <p>Make your investment journey easier by learning the basics with hanvesting</p>
        <a href="#">Learn More</a>
    </article>
</section>