---

import Main from "../../layout/Main.astro";
import Footer from "../../components/footer.astro";

const title = 'بلوج';
const lang = 'ar';
const dir = 'rtl';
---
<Main title={title} lang={lang} dir={dir}>

    <section class="h-screen flex justify-center items-center">
        <h2 class="text-[3.2rem] capitalize">{title}</h2>
    </section>
    <section class="-mx-[2rem] md:-mx-[3.2rem]">
        <Footer>

            <span slot="copyright">حقوق النشر © 2023 Railway Corp. جميع الحقوق محفوظة.</span>

            <!-- list1 -->
            <p slot="list1Header" class="text-[1.2rem] font-bold uppercase ">منتج</p>
            <ul slot="list1Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">التغيير</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">التسعير</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">القوالب</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">تعليق</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">عمولة OSS</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">الهجرة من Heroku</a>
                </li>
            </ul>
            <!-- list1 -->

            <!-- list2 -->
            <p slot="list2Header" class="text-[1.2rem] font-bold uppercase ">شركة</p>
            <ul slot="list2Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">عنا</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">وظائف</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">مدونة</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">محل</a>
                </li>
            </ul>
            <!-- list2 -->

            <!-- list3 -->
            <p slot="list3Header" class="text-[1.2rem] font-bold uppercase">اتصال</p>
            <ul slot="list3Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">الخلاف</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">تويتر</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">جيثب</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">بريد إلكتروني</a>
                </li>
            </ul>
            <!-- list3 -->

            <!-- list4 -->
            <p slot="list4Header" class="text-[1.2rem] font-bold uppercase">قانوني</p>
            <ul slot="list4Items">
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">استخدام عادل</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">سياسة الخصوصية</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white">شروط الخدمة</a>
                </li>
                <li class="pt-[1.6rem]">
                    <a href="#" class="text-[1.6rem] hover:text-white"></a>
                </li>
            </ul>
            <!-- list4 -->

        </Footer>
    </section>

</Main>