---

import Main from "../../layout/Main.astro";
import Footer from "../../components/footer.astro";

const title = 'مهن';
const lang = 'ar';
const dir = 'rtl';
---
<Main title={title} lang={lang} dir={dir}>

    <section class="h-screen flex justify-center items-center">
        <h2 class="text-[3.2rem] capitalize">{title}</h2>
    </section>
    <section class="-mx-[2rem] md:-mx-[3.2rem]">
        <Footer />
    </section>

</Main>