---
---
<section data-background-img="/images/fried-potatoes.png" x-data :style="`background-image:url(${$root.dataset.backgroundImg})`" id="about-us-footer" class="flex justify-end layout-container-xlg bg-secondary-color">
    <div>
        <header>
            <h1 class=" uppercase font-mont font-black text-primary-color">about us</h1>
        </header>
        <p class="text-top font-mont font-regular text-tertiary-color">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit iusto perferendis quidem, dolor temporibus magni optio consequuntur deserunt ipsam architecto rem necessitatibus quibusdam fuga harum ex, impedit odio.
        </p>
        <p class="text-bottom font-mont font-regular text-tertiary-color">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit iusto perferendis quidem, dolor temporibus magni optio consequuntur deserunt ipsam architecto rem necessitatibus quibusdam fuga harum ex, impedit odio.
        </p>
    </div>
</section>
<style lang="scss">
    #about-us-footer {
        padding-bottom: 14rem;
        background-repeat: no-repeat;
        & > div {
            width: 50%;
            padding: 0rem 2rem;
            header {
                h1 {
                    padding-top: 10rem;
                    font-size: 7rem;
                }
            }
            .text-top, .text-bottom {
                padding-top: 5rem;
                font-size: 2.5rem;
                line-height: 2.8rem;
            }
        }
        @media screen and (max-width:768px){
            & > div {
                width: 100%;
            }
        }
    }
</style>