---
const { url, img, bgColor } = Astro.props;
---
<div class="swiper-slide px-20 flex items-center" data-bg-color={bgColor}>
    <a href={url}>
        <img src={`./images/${img}`} alt="">
    </a>
</div>