<section id="the-creators" class="bg-primary-color">
    <div class="layout-container-the-creators">
        <header>
            <h1 class="uppercase font-mont font-black text-secondary-color">the creators</h1>
        </header>
        <div id="info" class="flex justify-between">
            <ul>
                <li class="flex items-center">
                    <h1 class="name-avatar rounded-full border-secondary-color uppercase font-mont font-bold  text-quaternary-color">p</h1>
                    <div>
                        <h1 class="capitalize font-mont font-bold text-quaternary-color">name creator</h1>
                        <p class="font-mont font-regular text-quaternary-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </li>
                <li class="flex items-center">
                    <h1 class="name-avatar rounded-full border-tertiary-color uppercase font-mont font-bold text-quaternary-color">p</h1>
                    <div>
                        <h1 class="capitalize font-mont font-bold text-quaternary-color">name creator</h1>
                        <p class="font-mont font-regular text-quaternary-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </li>
            </ul>
            <div id="food-badge-container" class="flex items-center justify-center">
                <img src="/images/food-res-badge.png" alt="badge">
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    #the-creators {
        padding-bottom: 17rem;
        & > div {
            padding: 0 2rem;
            header {
                h1 {
                    padding-top: 15rem;
                    font-size: 7rem;
                }
            }
            #info {
                ul {
                    max-width: 55rem;
                    li {
                        padding-top: 3rem;
                        h1.name-avatar {
                            padding: 4rem;
                            border-width: 0.4rem;
                            font-size: 5rem;
                            line-height: 3rem;
                        }
                        div {
                            @include withRtl('margin', 0 0 0 1.5rem, 0 1.5rem 0 0);
                            h1 {
                                font-size: 3rem;
                            }
                            p {
                                font-size: 2.2rem;
                            }
                        }
                    }
                }
                #food-badge-container {
                    width: 50%;
                }
            }
        }
        @media screen and (max-width: 768px) {
            padding-bottom: 8rem;
            header {
                h1 {
                    text-align: center;
                }
            }
            #info {
                flex-direction: column;
                align-items: center;
                #food-badge-container {
                    padding-top: 8rem;
                }
                ul {
                    li {
                        flex-direction: column;
                        text-align: center;
                    }
                }
            }
        }
    }
</style>