---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/burger.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Montserrat:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>

	@import "tailwindcss/base";
	@import "tailwindcss/components";
	@import "tailwindcss/utilities";

	html {
		font-size: 62.5%;
		@media screen and (max-width: 601px) {
			font-size: 44%;
		}
	}

	body {
		overflow-y: auto;
		overflow-x: hidden;
	}

	*:focus {
		outline: unset!important;
	}

	.layout-container {
		&-xlg {
			max-width: 144.2rem;
			margin: 0 auto; 
		}
		&-lg {
			max-width: 102rem;
			margin: 0 auto; 
		}
		&-menu-drinks, &-hto-plus, &-burger-blog, &-footer {
			max-width: 122rem;
			margin: 0 auto; 
		}
		&-combos-swiper, &-hto {
			max-width: 106rem;
			margin: 0 auto; 
		}
		&-the-creators {
			max-width: 102.5rem;
			margin: 0 auto; 
		}
	}

	.layout-btn {
		font-family: 'Montserrat';
		font-weight: 700;
		text-transform: uppercase;
		border-radius: 100px;
		span {
			display: inline-block;
		}
	}

	.layout-input {
		&.with-icon {
			@include withRtl(padding, 0 1rem 0 0rem, 0 0rem 0 1rem);
			@media screen and (max-width: 601px){
				@include withRtl(padding, 0 2rem 0 0rem, 0 0rem 0 2rem);
			}
		}
		@apply flex justify-between items-center;
		@apply border-[0.3rem] border-quaternary-color rounded-full;
		@apply bg-primary-color;
		input {
			@apply w-full;
			@apply px-[3rem] py-[0.3rem];
			@apply border border-2 border-quaternary-color;
			@apply font-mont font-medium text-[2.5rem] text-quaternary-color;
			@apply bg-transparent border-none;
			@media screen and (max-width: 601px){
				padding: 1rem 3rem;
			}
		}
	}

	.layout-checkable {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		height: 2rem;
		width: 2rem;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			&:checked ~ .checkmark {
				background-color: $primary-color;
			}
		}
		.checkmark {
			display: inline-block;
			border:1px solid $tertiary-color;
			height: 2rem;
			width: 2rem;
			background-color: $quaternary-color;
			border-radius: 50%;
		}
		&.size-lg {
			height: 4rem;
			width: 4rem;
			@include withRtl(margin, 0 2rem 0 0, 0 0 0 2rem);
			.checkmark {
				height: 4rem;
				width: 4rem;
			}
		}
		&.primary-colored {
			input {
				&:checked ~ .checkmark {
					background-color: $primary-color;
				}
			}
		}
	}

	.flatpickr-calendar {
		font-size: 2.5rem;
		background-color: unset;
		box-shadow: unset;
		@media screen and (max-width: 601px){
			font-size: 3rem;
		}
		.flatpickr-weekdays {
			background-color: unset;
			.flatpickr-weekday {
				color: $quaternary-color;
			}
		}
		.flatpickr-days {
			background-color: transparent;
			color: $quaternary-color;
			margin-top: 2rem;
			.flatpickr-day {
				color: $quaternary-color;
				@include withRtl(margin, -0 1rem 1rem 0, 0 0 1rem 1rem);
				&.today:hover, &.today:focus {
					background-color: $secondary-color;
					color: $tertiary-color;
				}
				&.nextMonthDay {
					color: #ffdd6780;
				}
				&:hover, &.selected {
					background-color: $secondary-color;
					color: $tertiary-color;
				}
			}
		}
		.flatpickr-months {
			svg {
				path {
					stroke: $quaternary-color;
					stroke-width: 0.2rem;
				}
			}
			.flatpickr-month {
				height: 5rem;
			}
			.flatpickr-current-month {
				padding: 0px;
				.flatpickr-monthDropdown-months {
					color: $quaternary-color;
					option {
						color: $quaternary-color;
						background-color: #403f3f;
					}
				}
				.numInputWrapper {
					display: none;
				}
			}
		}
		.flatpickr-innerContainer {
			margin-top: 2rem!important;
		}
		.flatpickr-time {
			border-top: unset!important;
			.numInputWrapper {
				input {
					background-color: unset;
					color: $quaternary-color;
					font-size: 4rem!important;
				}
			}
			.flatpickr-time-separator {
				background-color: unset;
				color: $quaternary-color;
			}
			.flatpickr-am-pm {
				font-size: 4rem!important;
				background-color: unset;
				color: $quaternary-color;
			}
		}
	}
</style>
