---
    import Logo from "../assets/logo.astro";
---
<footer class="px-[2rem] pb-[4.8rem] md:pb-[5.6rem] pt-[4.8rem] max-w-[116rem] mx-auto">
    <div 
        class="grid grid-cols-2 gap-[3.2rem] 
        md:grid-cols-12 md:gap-[1.6rem]  
        lg:gap-[6.4rem]"
    >
        <div class="hidden col-span-3 md:flex flex-col justify-between lg:col-span-4">
            <a href="#" class="max-w-[2.4rem] md:max-w-[3.2rem]"><Logo /></a>
            <div class="text-[1.2rem] text-[#878593] w-full">
                <slot name="copyright"></slot>
            </div>
        </div>
        <div class="col-span-1 md:col-span-2 text-[#878593]">
            <slot name="list1Header"></slot>
            <slot name="list1Items"></slot>
        </div>
        <div class="col-span-1 md:col-span-2 text-[#878593]">
            <slot name="list2Header"></slot>
            <slot name="list2Items"></slot>
        </div>
        <div class="col-span-1 md:col-span-2 text-[#878593]">
            <slot name="list3Header"></slot>
            <slot name="list3Items"></slot>
        </div>
        <div class="col-span-1 md:col-span-2 text-[#878593]">
            <slot name="list4Header"></slot>
            <slot name="list4Items"></slot>
        </div>
    </div>
    <div class="flex flex-col md:hidden mt-[3.2rem] text-center items-center">
        <a href="#" class="block min-w-[3.2rem] min-h-[2.5rem] h-[4rem] w-[4rem] flex items-center"><Logo /></a>
        <div class="text-[1.2rem] text-[#878593] w-full mt-[1.6rem]">
            <slot name="copyright"></slot>
        </div>
    </div>
</footer>