---

import Nav from "../layout/Nav.astro";

const { title, lang, dir } = Astro.props;

---
<style lang="scss" is:global>

    :root {
        --blue-track: linear-gradient(0deg, rgb(255 255 255/0) 0%, hsla(220, 62%, 25%, .5) 15%, hsla(220, 62%, 25%, .5) 85%, rgb(255 255 255/0) 100%);
        --green-track: linear-gradient(0deg, rgb(255 255 255/0) 0%, hsla(150, 60%, 13%, .5) 15%, hsla(150, 60%, 13%, .5) 85%, rgb(255 255 255/0) 100%);
    }

    html {
        font-size: 62.5%;
        line-height: 1.25;
    }

    html, body {
        height: 100%;
    }

    .font-robo {
        @include withRtl('font-family', 'Roboto', 'Tajawal');
    }

    .font-robo-reversed {
        @include withRtl('font-family', 'Tajawal', 'Roboto');
    }

    ul.to-reveal {
        transition: transform 0.8s ease-out, opacity 2s ease-out;
        transform: translateY(150px);
        opacity: 0;

        &.reveal {
            transform: translateY(0);
            opacity: 1;
        }
    }

    img.to-translate-right {
        transition: all 0.5s ease-out;
        transform: translateX(150px);
        opacity: 0;

        &.translate-right {
            transform: translateX(0);
            opacity: 1;
        }
    }

    img.to-translate-left {
        transition: all 0.5s ease-out;
        transform: translateX(-150px);
        opacity: 0;

        &.translate-left {
            transform: translateX(0);
            opacity: 1;
        }
    }

    svg.svg-icons {
        @include withRtl(transform, scale(1, 1), scale(-1, 1));
    }

    .title-1 {
        font-size: clamp(32px,4vw,40px);
    }

</style>
<script>

    import loader from "../js/loader.js";

    window.onload = () => loader('home');

</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ title }</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Tajawal:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body id={title} dir={dir} class="bg-primary font-robo text-white overflow-x-hidden">

    <Nav lang={lang} />

    <main class="px-[2rem] md:px-[3.2rem]">
        <slot></slot>
    </main>

</body>
</html>